<tr>
    <td valign="bottom" height="75">


        <table style="margin:0 auto;">
            <tbody><tr>
                <td style="color: #666666; line-height: 18px;">
                    港中旅华贸国际物流股份有限公司©版权所有 沪ICP备17046528号
                    <br>
                    总部地址：上海市南京西路338号天安中心20楼 邮编：200003
                    <br>
                    电话：0086 21 63580088 传真：0086 21 63588801/63586100
                </td>
                <td id="footLink" align="right">
                    <table cellspacing="0" cellpadding="0" border="0">


                        <tbody><tr>
                            <td><a href="http://www.anquan.org/s/www.ctsfreight.com" name="HTWwqbAm01VXdBqYeqFktudPsLa5FeO7BcvycJFgNaphrePDpy">安全联盟</a></td>

                            <td width="20" align="center"> | </td>

                            <td><script src="http://s96.cnzz.com/stat.php?id=4183554&amp;web_id=4183554&amp;show=pic1" language="JavaScript"></script><script src="http://c.cnzz.com/core.php?web_id=4183554&amp;show=pic1&amp;t=z" charset="utf-8" type="text/javascript"></script><a href="https://www.cnzz.com/stat/website.php?web_id=4183554" target="_blank" title="站长统计"><img src="http://icon.cnzz.com/img/pic1.gif" vspace="0" hspace="0" border="0"></a></td>

                            <td width="20" align="center"> | </td>

                            <td><a href="comm.aspx?id=91" target="_blank">联系我们</a></td>

                            <td width="20" align="center"> | </td>

                            <td><a href="comm.aspx?id=92" target="_blank">隐私声明</a></td>

                            <td width="20" align="center"> | </td>

                            <td><a href="comm.aspx?id=93" target="_blank">法律公告</a></td>

                            <td width="20" align="center"> | </td>

                            <td><a href="sitemap.aspx?id=94" target="_blank">网站地图</a></td>

                        </tr></tbody></table>


                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody><tr>
                            <td width="60">
                                <script language="JavaScript">
									document.writeln("<a href='https://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=gswonderswsupport2014081557498' target='_blank'><img src='images/icon.gif' border=0></a>")</script>

                            </td>
                            <td>
                                <img alt="" src="images/ico_iso_iata.gif" style="height: 30px; width: 46px">
                                <img alt="" src="images/ico_iso_fmc.jpg" style="height: 30px; width: 32px">
                                <img alt="" src="images/ico_iso_bvqi.gif" style="height: 30px; width: 76px">
                                <br>
                                ISO9001:2000 Certification
                            </td></tr></tbody></table>
                </td>
            </tr>
            </tbody></table>


    </td>
</tr>