<tr  class="footerWrap">
    <td valign="bottom" height="75">


        <table style="margin:0 auto;" class="footer">
            <tbody>
            <tr>
                <td>
                    上海空跃国际物流有限公司©版权所有 沪ICP备15052867号<br>
                </td>
                <td>
                    总部地址：上海闵行区沪青平公路280号
                </td>
                <td>
                    电话：15801665132
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>