<tr>
<td style="background-image:url(/images/h_t_b01.png); background-position:right bottom; background-repeat:no-repeat; height:67px;">
<table width="100%"><tbody><tr><td width="30"></td><td width="750">
<!--                    <img src="/images/h_t_logo.png">-->
<div style="font-size:23px;font-weight:bolder;" class="logo">上海空跃国际物流有限公司</div>
</td>
<td width="60">
<img src="/images/ico_l_cn.png" border="0" align="middle">
<img src="/images/ico_t_cn.png" border="0" align="middle">
</td>
<td>
<a href="../en">
<img src="/images/ico_l_en.png" border="0" align="middle">
<img src="/images/ico_t_en.png" border="0" align="middle">
</a>
</td>
</tr></tbody></table>
</td>
</tr>


<tr>
<td style=" background-image:url(images/m_b01.png); height:36px; background-repeat:repeat-x; border-left:1px solid #ccc;border-top:1px solid #ccc;border-right:1px solid #ccc;">
    <div id="menu" class="menu">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/about">关于华贸</a>
                <ul style="background-image:url(images/mbg_20.png);">
                    <li><a href="/about"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 简介</a> </li>
                    <li><a href="/about2"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 愿景与战略</a> </li>
<!--                    <li><a href="/about3"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 管理架构</a>-->
<!--                        <ul style="background-image:url(images/mbg_20.png);">-->
<!--                            <li><a href="comm.aspx?id=33"><img src="images/ico_arrow2.gif" border="0" align="absmiddle" /> 管理架构</a> </li>-->
<!--                            <li><a href="comm.aspx?id=6"><img src="images/ico_arrow2.gif" border="0" align="absmiddle" /> 董事会</a> </li>-->
<!--                            <li><a href="comm.aspx?id=7"><img src="images/ico_arrow2.gif" border="0" align="absmiddle" /> 监事会</a> </li>-->
<!--                            <li><a href="comm.aspx?id=8"><img src="images/ico_arrow2.gif" border="0" align="absmiddle" /> 经营管理层</a> </li>-->
<!--                        </ul></li>-->
<!--                    <li><a href="/about4"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 营运资质</a> </li>-->
<!--                    <li><a href="/about5"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 荣誉</a> </li>-->
<!--                    <li><a href="/about6"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 大事记</a> </li>-->
                </ul></li>
            <li><a href="/service">服务产品</a>
                <ul style="background-image:url(images/mbg_22.png);">
                    <li><a href="/service?id=1"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                    <li><a href="/service?id=2"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                    <li><a href="/service?id=2"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
<!--                    <li><a href="/service?id=3"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 供应链贸易</a> </li>-->
<!--                    <li><a href="/service?id=4"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 工程物流</a> </li>-->
<!--                    <li><a href="/service?id=5"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 仓储第三方物流</a> </li>-->
<!--                    <li><a href="/service?id=6"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 合同物流</a> </li>-->
<!--                    <li><a href="/service?id=7"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际同行合作</a> </li>-->
<!--                    <li><a href="/service?id=8"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 进出境关务</a> </li>-->
                </ul></li>
<!--            <li><a href="list.aspx?id=2820">新闻与行业</a>-->
<!--                <ul style="background-image:url(images/mbg_28.png);">-->
<!--                    <li><a href="list.aspx?id=2820"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 公司新闻</a> </li>-->
<!--                    <li><a href="list.aspx?id=2822"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 行业信息</a> </li>-->
<!--                    <li><a href="list.aspx?id=2824"><img src="images/ico_arrow1.gif" border="0" align="absmiddle" /> 市场研究</a> </li>-->
<!--                </ul></li>-->
<!--            <li><a href="/talents">人才战略</a>-->
<!--                <ul style="background-image:url(images/mbg_30.jpg);">-->
<!--                    <li><a href="/talents">人才战略</a> </li>-->
<!--                    <li><a href="/team">优秀团队</a> </li>-->
<!--                    <li><a href="/employeeGrow">员工成长</a> </li>-->
<!--                    <li><a href="/employeeNotes">员工手册</a> </li>-->
<!--                    <li><a href="/honestBusiness">廉洁从业</a> </li>-->
<!--                </ul></li>-->
<!--            <li><a href="/socialRes">社会责任</a> </li>-->

        </ul>
    </div>
</td>
</tr>