<tr>
    <td style="background-image:url(/images/h_t_b01.png); background-position:right bottom; background-repeat:no-repeat; height:67px;">
        <table width="100%"><tbody><tr><td width="30"></td><td width="750">
<!--                    <img src="/images/h_t_logo.png">-->
                    <div style="font-size:23px;font-weight:bolder;">上海空跃国际物流有限公司</div>
    </td>
    <td width="60">
        <img src="/images/ico_l_cn.png" border="0" align="middle">
        <img src="/images/ico_t_cn.png" border="0" align="middle">
    </td>
    <td>
        <a href="../en">
            <img src="/images/ico_l_en.png" border="0" align="middle">
            <img src="/images/ico_t_en.png" border="0" align="middle">
        </a>
    </td>
    </tr></tbody></table>
    </td>
</tr>


<tr>
    <td style=" background-image:url(images/m_b01.png); height:36px; background-repeat:repeat-x; border-left:1px solid #ccc;border-top:1px solid #ccc;border-right:1px solid #ccc;">
        <div id="menu" class="menu"><ul><li><a href="/">首页</a>
                    <ul style="background-image:url();"><li><a href="#"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 华贸链接</a>
                            <ul style="background-image:url();"><li><a href="http://210.22.158.85">华贸协同办公系统</a>
                                </li><li><a href="http://180.168.161.126:805/Login/Index">空运客户查询</a>
                                </li><li><a href="http://180.168.12.68/ioa">分公司业务系统</a>
                                </li><li><a href="http://ap1.ctsfreight.com/WebReport/ReportServer?op=fs">华贸综合数据统计平台</a>
                                </li><li><a href="http://www.ctsprojects.com">上海工程物流</a>
                                </li><li><a href="http://www.ctsfreight.com/ctslogistics">大连工程物流</a>
                                </li></ul></li></ul></li><li><a href="/about">关于华贸</a>
                    <ul style="background-image:url(images/mbg_20.png);"><li><a href="/about"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 简介</a>
                        </li><li><a href="/about2"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 愿景与战略</a>
                        </li><li><a href="/about3"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 管理架构</a>
                            <ul style="background-image:url(images/mbg_20.png);"><li><a href="comm.aspx?id=33"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 管理架构</a>
                                </li><li><a href="comm.aspx?id=6"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 董事会</a>
                                </li><li><a href="comm.aspx?id=7"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 监事会</a>
                                </li><li><a href="comm.aspx?id=8"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 经营管理层</a>
                                </li></ul></li><li><a href="/about4"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 营运资质</a>
                        </li><li><a href="/about5"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 荣誉</a>
                        </li><li><a href="/about6"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 大事记</a>
                        </li></ul></li><li><a href="/service">服务产品</a>
                    <ul style="background-image:url(images/mbg_22.png);"><li><a href="/service?id=1"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 国际空运</a>
                        </li><li><a href="/service?id=2"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 国际海运</a>
                        </li><li><a href="/service?id=3"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 供应链贸易</a>
                        </li><li><a href="/service?id=4"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>
                        </li><li><a href="/service?id=5"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>
                        </li><li><a href="/service?id=6"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>
                        </li><li><a href="/service?id=7"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>
                        </li><li><a href="/service?id=8"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>
                        </li></ul></li><li><a href="netwkg.aspx?id=4">全球网络</a>
                    <ul style="background-image:url(images/mbg_24.png);"><li><a href="netwkg.aspx?id=4"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 投资网络</a>
                            <ul style="background-image:url(images/mbg_24.png);"><li><a href="netwkg.aspx?id=4"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 华东区</a>
                                    <ul style="background-image:url(images/mbg_24.png);"><li><a href="comm.aspx?id=134">上海(空运)</a>
                                        </li><li><a href="comm.aspx?id=135">上海(海运)</a>
                                        </li><li><a href="comm.aspx?id=136">上海(工程物流)</a>
                                        </li><li><a href="comm.aspx?id=254">上海(仓储物流)</a>
                                        </li><li><a href="comm.aspx?id=317">上海(外高桥保税物流)</a>
                                        </li><li><a href="comm.aspx?id=318">上海(洋山港仓储物流)</a>
                                        </li><li><a href="comm.aspx?id=103">南京</a>
                                        </li><li><a href="comm.aspx?id=104">杭州</a>
                                        </li><li><a href="comm.aspx?id=105">无锡</a>
                                        </li><li><a href="comm.aspx?id=106">苏州</a>
                                        </li><li><a href="comm.aspx?id=107">扬州</a>
                                        </li><li><a href="comm.aspx?id=108">常州</a>
                                        </li><li><a href="comm.aspx?id=109">松江</a>
                                        </li><li><a href="comm.aspx?id=110">宁波(空运)</a>
                                        </li><li><a href="comm.aspx?id=319">宁波(海运)</a>
                                        </li><li><a href="comm.aspx?id=112">金华</a>
                                        </li><li><a href="comm.aspx?id=113">南通</a>
                                        </li><li><a href="comm.aspx?id=114">合肥</a>
                                        </li><li><a href="comm.aspx?id=371">昆山</a>
                                        </li><li><a href="#">常熟</a>
                                        </li></ul></li><li><a href="netwkg.aspx?id=4"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 华北区</a>
                                    <ul style="background-image:url(images/mbg_24.png);"><li><a href="comm.aspx?id=320">北京(工程物流)</a>
                                        </li><li><a href="comm.aspx?id=115">北京(空海运)</a>
                                        </li><li><a href="comm.aspx?id=116">天津</a>
                                        </li><li><a href="comm.aspx?id=117">青岛</a>
                                        </li><li><a href="#">烟台</a>
                                        </li><li><a href="comm.aspx?id=370">济南</a>
                                        </li><li><a href="comm.aspx?id=118">大连</a>
                                        </li></ul></li><li><a href="netwkg.aspx?id=4"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 华南区</a>
                                    <ul style="background-image:url(images/mbg_24.png);"><li><a href="comm.aspx?id=101">香港</a>
                                        </li><li><a href="comm.aspx?id=119">广州</a>
                                        </li><li><a href="comm.aspx?id=102">厦门</a>
                                        </li><li><a href="comm.aspx?id=120">福州</a>
                                        </li><li><a href="comm.aspx?id=121">深圳</a>
                                        </li><li><a href="comm.aspx?id=122">东莞</a>
                                        </li></ul></li><li><a href="netwkg.aspx?id=4"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 华中区</a>
                                    <ul style="background-image:url(images/mbg_24.png);"><li><a href="comm.aspx?id=125">武汉</a>
                                        </li><li><a href="comm.aspx?id=126">郑州</a>
                                        </li><li><a href="comm.aspx?id=252">长沙</a>
                                        </li></ul></li><li><a href="netwkg.aspx?id=4"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 西南区</a>
                                    <ul style="background-image:url(images/mbg_24.png);"><li><a href="comm.aspx?id=526">昆明</a>
                                        </li></ul></li><li><a href="netwkg.aspx?id=4"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 西北区</a>
                                    <ul style="background-image:url(images/mbg_24.png);"><li><a href="comm.aspx?id=127">西安</a>
                                        </li><li><a href="comm.aspx?id=128">成都</a>
                                        </li><li><a href="comm.aspx?id=129">重庆</a>
                                        </li></ul></li><li><a href="netwkg.aspx?id=5"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 北美区</a>
                                    <ul style="background-image:url(images/mbg_24.png);"><li><a href="comm.aspx?id=132">洛杉矶</a>
                                        </li><li><a href="comm.aspx?id=130">纽约</a>
                                        </li><li><a href="comm.aspx?id=131">亚特兰大</a>
                                        </li><li><a href="comm.aspx?id=603">休斯顿</a>
                                        </li></ul></li><li><a href="netwkg.aspx?id=5"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 欧洲区</a>
                                    <ul style="background-image:url(images/mbg_24.png);"><li><a href="comm.aspx?id=133">法兰克福</a>
                                        </li><li><a href="comm.aspx?id=647">卢森堡</a>
                                        </li></ul></li><li><a href="netwkg.aspx?id=5"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 东南亚</a>
                                    <ul style="background-image:url(images/mbg_24.png);"><li><a href="comm.aspx?id=243">新加坡</a>
                                        </li><li><a href="comm.aspx?id=321">泰国</a>
                                        </li><li><a href="comm.aspx?id=322">印尼</a>
                                        </li><li><a href="comm.aspx?id=323">马来西亚</a>
                                        </li></ul></li></ul></li><li><a href="comm.aspx?id=99"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 全球合作网络</a>
                        </li></ul></li><li><a href="online.aspx?id=49">在线服务</a>
                </li><li><a href="list.aspx?id=2820">新闻与行业</a>
                    <ul style="background-image:url(images/mbg_28.png);"><li><a href="list.aspx?id=2820"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 公司新闻</a>
                        </li><li><a href="list.aspx?id=2822"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 行业信息</a>
                        </li><li><a href="list.aspx?id=2824"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 市场研究</a>
                        </li></ul></li><li><a href="comm.aspx?id=44">人才战略</a>
                    <ul style="background-image:url(images/mbg_30.jpg);"><li><a href="comm.aspx?id=44">人才战略</a>
                        </li><li><a href="comm.aspx?id=45">优秀团队</a>
                        </li><li><a href="comm.aspx?id=46">员工成长</a>
                        </li><li><a href="handbook.aspx?id=272">员工手册</a>
                        </li><li><a href="jobbook.aspx?id=276">廉洁从业</a>
                        </li></ul></li><li><a href="comm.aspx?id=47">社会责任</a>
                </li><li><a href="comm.aspx?id=233">投资者关系</a>
                    <ul style="background-image:url(images/mbg_tzzgx.jpg);"><li><a href="comm.aspx?id=233"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 证券信息</a>
                        </li><li><a href="list.aspx?id=3422"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 股东大会</a>
                        </li><li><a href="list.aspx?id=3424"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 公司公告</a>
                        </li><li><a href="list.aspx?id=3426"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 定期报告</a>
                        </li><li><a href="#"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 收益及分配</a>
                        </li><li><a href="comm.aspx?id=290"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 投资者热线</a>
                        </li></ul></li></ul></div>
    </td>
</tr>