<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/vMenu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="960px;" cellspacing="0" cellpadding="0" align="center">
    <%- include ../partials/header.ejs %>
    <tr>
        <td>
            <img id="imgAdv" src="images/sub_t_20.jpg" style="height:170px;width:960px;border-width:0px;">
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>

	<tr>
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody><tr>
					<td width="240" valign="top">
						<table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
							<tbody><tr>
								<td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
									<table cellspacing="0" cellpadding="0" border="0">
										<tbody><tr>
											<td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
												<table><tbody><tr><td width="10">&nbsp;</td>
														<td style="color: #003366; font-weight: bold; font-size: 14px;">
															<span id="lblMenuTitle">关于空跃</span>
														</td></tr></tbody></table>
											</td>
										</tr>
										<tr>
											<td>
												<div id="vmenu" class="vmenu"><ul><li><a href="/about"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 简介</a>
														</li><li><a href="/about2"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 愿景与战略</a>
														</li><li><a href="/about3"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 管理架构</a>
															<ul style="background-image:url(images/mbg_20.png);"><li><a href="comm.aspx?id=33"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 管理架构</a>
																</li><li><a href="comm.aspx?id=6"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 董事会</a>
																</li><li><a href="comm.aspx?id=7"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 监事会</a>
																</li><li><a href="comm.aspx?id=8"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 经营管理层</a>
																</li></ul></li><li><a href="/about4"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 营运资质</a>
														</li><li><a href="/about5"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 荣誉</a>
														</li><li><a href="/about6"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 大事记</a>
														</li></ul></div>
											</td>
										</tr>
										<tr>
											<td height="45">
												&nbsp;
											</td>
										</tr>
										</tbody></table>
								</td>
							</tr>
							</tbody></table>
					</td>
					<td valign="top">
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody><tr>
								<td>
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
										<tbody><tr>
											<td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
												<span id="lblArticleTitle">大事记</span>
											</td>
											<td style="color: #666666;" align="right">
												<span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=2">关于空跃</a> &gt; <a href="comm.aspx?id=43">大事记</a></span>
											</td>
										</tr>
										</tbody></table>
								</td>
							</tr>
							<tr>
								<td style="border-top: 1px solid #ccc;">
									&nbsp;
								</td>
							</tr>
							<tr>
								<td style="line-height: 24px;">
                                            <span id="lblContent"><ol>
	<li>
		2010年9月30日，公司由空跃国际货运有限公司改制为港中旅空跃国际物流股份有限公司；</li>
	<li>
		2010年3月9、10日，上海市证监局进行申请上市辅导验收；</li>
	<li>
		2010年3月21日，A股市场首次公开发行股票申请材料递交中国证监会并获受理；</li>
	<li>
		2011年5月23日，上海市人民政府致函中国证监会，同意公司向社会公开发行股票并上市；</li>
	<li>
		2012年1月12日，证监会公开预披露公司招股说明书；</li>
	<li>
		2012年1月16日，证监会发审委2012年第16次会议审核通过空跃物流首发上市申请；</li>
	<li>
		2012年5月7日，证监会颁发证监许可[2012]501号《关于核准港中旅空跃国际物流股份有限公司首次公开发行股票的批复》。</li>
	<li>
		2012年5月29日，上海证券交易所成功挂牌上市。</li>
	<li>
		2013年5月9日，证券时报发布《2013年优秀投行评选获奖名单》，由中银国际承销的空跃物流IPO获得最佳项目奖项。</li>
	<li>
		2013年6月20日，空跃物流2012年度股东大会采用现场投票、网络投票与征集投票权投票相结合方式召开。</li>
	<li>
		2014年6月13日，空跃物流2013年度股东大会采用现场投票方式召开</li>
	<li>
		2014年9月27日，空跃物流召开2013年度第一次临时股东大会，换届选举产生第二届董事会和第二届监事会。</li>
	<li>
		2014年10月31日，公司收购上海德祥物流有限公司等四家公司65%股权</li>
	<li>
		2014年12月，公司接到国家邮政局国邮发[2014]220号批复文件并获发快递业务经营许可证，同意公司经营快递业务</li>
</ol></span>
								</td>
							</tr>
							</tbody></table>
					</td>
				</tr>
				</tbody></table>
		</td>
	</tr>

    <%- include ../partials/footer.ejs %>
</table>


<script type="text/javascript" src="http://hq.sinajs.cn/list=sh603128" charset="gb2312"></script>
<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/slideshow.js"></script>
</body>
</html>