<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/vMenu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
    <%- include ../partials/header.ejs %>
    <tr>
        <td>
            <img id="imgAdv" src="images/sub_t_20.jpg" style="height:170px;width:960px;border-width:0px;">
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                    <td width="240" valign="top">
                        <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                            <tbody><tr>
                                <td style="background-image: url(images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody><tr>
                                            <td style="background-image: url(images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                <table><tbody><tr><td width="10">&nbsp;</td>
                                                        <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                            <span id="lblMenuTitle">关于空跃</span>
                                                        </td></tr></tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="vmenu" class="vmenu">
                                                    <ul>
                                                        <li>
                                                            <a href="/about"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 简介</a>
                                                        </li>
                                                        <li>
                                                            <a href="/about2"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 愿景与战略</a>
                                                        </li>
<!--                                                        <li>-->
<!--                                                            <a href="/about3"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 管理架构</a>-->
<!--                                                            <ul style="background-image:url(images/mbg_20.png);">-->
<!--                                                                <li>-->
<!--                                                                    <a href="comm.aspx?id=33"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 管理架构</a>-->
<!--                                                                </li>-->
<!--                                                                <li>-->
<!--                                                                    <a href="comm.aspx?id=6"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 董事会</a>-->
<!--                                                                </li>-->
<!--                                                                <li>-->
<!--                                                                    <a href="comm.aspx?id=7"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 监事会</a>-->
<!--                                                                </li>-->
<!--                                                                <li>-->
<!--                                                                    <a href="comm.aspx?id=8"><img src="images/ico_arrow2.gif" border="0" align="absmiddle"> 经营管理层</a>-->
<!--                                                                </li>-->
<!--                                                            </ul>-->
<!--                                                        </li>-->
<!--                                                        <li>-->
<!--                                                            <a href="/about4"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 营运资质</a>-->
<!--                                                        </li>-->
<!--                                                        <li>-->
<!--                                                            <a href="/about5"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 荣誉</a>-->
<!--                                                        </li>-->
<!--                                                        <li>-->
<!--                                                            <a href="/about6"><img src="images/ico_arrow1.gif" border="0" align="absmiddle"> 大事记</a>-->
<!--                                                        </li>-->
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="45">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                    <td valign="top">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr>
                                <td>
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody><tr>
                                            <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                <span id="lblArticleTitle">愿景与战略</span>
                                            </td>
                                            <td style="color: #666666;" align="right">
                                                <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=2">关于空跃</a> &gt; <a href="comm.aspx?id=3">愿景与战略</a></span>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: 1px solid #ccc;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td style="line-height: 24px;">
                                            <span id="lblContent"><p align="left">
	<strong>公司愿景：</strong>为客户提供价值创造服务，帮助客户在市场上更具竞争优势和更好的发展。</p>
<p align="left">
	<strong>战略发展目标：</strong>以跨境物流为主业，以平台中心建设为抓手，整合资源，紧贴市场和客户需求，做强做大国际空运、国际海运、供应链贸易、工程物流、仓储第三方物流五个业务板块及其合同物流、海外同行营销细分市场（统称“5+2”战略），形成各业务板块相互支持、协同高效、均衡发展的竞争优势，以互联网和信息化支撑管理水平与服务能力的不断提高，实现规模增长显著、运行效能优异、各业务板块行业地位领先的战略发展目标，辅以兼并收购提高综合服务和盈利能力的同时，形成内涵式增长和跨越式发展并举的格局。</p>
<p align="left">
	选择主要物流节点城市，加大仓储资源的投入和现代物流中心的建设，增强核心竞争力和持续发展能力。</p>
<p align="left">
	高度关注和重视跨境电商物流市场的迅猛发展趋势，发挥自身优势和创造条件，抓住机遇，进入这一新兴市场领域。</p>
<p align="left">
	完善网络布局，提高营销和服务保障能力，扩大品牌知名度。</p>
<p align="left">
	<strong>核心竞争力：</strong></p>
<p align="left">
	(一)品牌优势。作为中央企业控股的上市公司，公司历史悠久，经营资质齐全，经营规模较大，市场化的企业文化底蕴深厚，是中国物流与采购联合会授予的5A级物流企业，在中国多个城市被当地政府评为重点物流企业，在业内具有较高的行业地位，品牌和美誉度佳。</p>
<p align="left">
	（二）服务综合。公司以跨境物流为主业，根据跨境现代物流的需求规模和不同的细分市场，一直致力于服务产品的综合性建设，形成了国际空运、国际海运、供应链贸易、国际工程物流、仓储第三方物流五个业务板块及其细分市场的服务能力，实现了跨境物流业务的全覆盖，实现了能够满足客户个性化需求的门到门服务能力，为客户提供价值服务，也取得了较好的发展优势。</p>
<p align="left">
	（三）网络齐全。我国的进出口外贸总量已跃居世界第一，跨境物流的市场规模巨大，需求分布广泛，网络覆盖率是同业竞争的重要核心之一。总部设在国际航运中心上海，旗下有65家全资附属分子公司，遍布在中国主要港口和内陆经济发达城市以及香港、新加坡、纽约、洛杉矶、亚特兰大、法兰克福等地，网络规模远领先于中国同行企业，并探索和建立了一套有效的、难以模仿的营运与管理模式；长期合作的海外网络遍布世界150多个国家和地区；两者相结合，形成了公司的全球物流服务与保障体系，及网络一体化、集约化的发展格局。</p>
<p align="left">
	（四）独特的经营模式。公司坚持“以轻资产为主，轻重资产有效结合”的经营方针。比较重资产第二方物流企业，公司更具备整合和优化市场资源的能力，市场响应和灵活应变能力强，既有利于满足客户需求，又有利于规避经济的周期性风险，公司业绩因而往往能高于行业的平均增长水平。</p>
<p align="left">
	（五）优秀的管理团队。公司有一批优秀的管理团队，行业经验丰富，志向和抱负远大，对行业和市场的运行规律极为熟悉，组织学习能力强，且具有较强的决断力和执行力。</p>
<p align="left">
	市场化的管理理念和有效的激励机制，增强了公司对行业人才的吸引力和凝聚力，为公司发展提供了源源不断的创造力。</p>
<p align="left">
	&nbsp;</p>
<p align="left">
	&nbsp;</p></span>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>


    <%- include ../partials/footer.ejs %>
</table>


<script type="text/javascript" src="http://hq.sinajs.cn/list=sh603128" charset="gb2312"></script>
<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/slideshow.js"></script>
</body>
</html>