<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/picslide.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <table width="960px;" cellspacing="0" cellpadding="0" align="center">
    <%- include ../partials/header.ejs %>
    <tr>
      <td>
        <div class="slides">
          <div id="slides"><a href="comm.aspx?id=30" target="_blank"><img src="/images/ads_cn_20111017_06.jpg" alt="仓储" style="display: none;"></a>
            <a href="comm.aspx?id=29" target="_blank"><img src="/images/ads_cn_20111017_05.jpg" alt="工程物流" style="display: none;"></a>
            <a href="comm.aspx?id=28" target="_blank"><img src="/images/ads_cn_20111017_04.jpg" alt="供应键贸易" style="display: none;"></a>
            <a href="comm.aspx?id=27" target="_blank"><img src="/images/ads_cn_20111017_03.jpg" alt="海运" style="display: none;"></a>
            <a href="comm.aspx?id=10" target="_blank"><img src="/images/ads_cn_20111017_02.jpg" alt="空运" style="display: none;"></a>
            <a href="comm.aspx?id=11" target="_blank"><img src="/images/ads_cn_20111017_01.jpg" alt="专业物流" style="display: inline;"></a>
            <input id="hdfSlides" type="hidden" value="/images/h_t_ad6_s.png|/images/h_t_ad5_s.png|/images/h_t_ad4_s.png|images/h_t_ad3_s.png|images/h_t_ad2_s.png|images/h_t_ad1_s.png" name="hdfSlides"></div>
          <div class="panel"></div>
          <div class="ico">
            <ul><li style="background-image: url(images/h_t_ad6_s.png);" class="">&nbsp;</li><li style="background-image: url(images/h_t_ad5_s.png);" class="">&nbsp;</li><li style="background-image: url(images/h_t_ad4_s.png);" class="">&nbsp;</li><li style="background-image: url(images/h_t_ad3_s.png);" class="">&nbsp;</li><li style="background-image: url(images/h_t_ad2_s.png);" class="">&nbsp;</li><li style="background-image: url(images/h_t_ad1_s.png);" class="high">&nbsp;</li></ul></div>
          <div class="info"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td class="home_table_td" valign="top">
              <table width="350" align="center">
                <tbody><tr><td height="40">
                    <table width="330" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td><img alt="News" src="images/t_t_news.png"></td>
                        <td width="50">
                          <a id="hlkCNewsMore" href="list.aspx?id=2820" target="_blank">更多</a>
                          <img id="Image1" src="images/ico_arrow.png" style="border-width:0px;">
                        </td></tr></tbody></table>
                  </td></tr>
                <tr><td>
                    <div>
                      <table id="gvCorpNews" style="width:330px;border-collapse:collapse;" cellspacing="0" cellpadding="6" border="0" align="Center">
                        <tbody><tr>
                          <td style="width:6px;">
                            <img src="images/dot_999.gif" alt="" width="4" height="4" align="middle">
                          </td><td><a href="comm.aspx?id=649" target="_blank">为70周年国庆大典添彩-中特物流...</a></td><td style="color:#999999;" align="right">[2019-10-18]</td>
                        </tr><tr>
                          <td style="width:6px;">
                            <img src="images/dot_999.gif" alt="" width="4" height="4" align="middle">
                          </td><td><a href="comm.aspx?id=634" target="_blank">华贸物流与京东物流签署战略合作框...</a></td><td style="color:#999999;" align="right">[2018-06-29]</td>
                        </tr><tr>
                          <td style="width:6px;">
                            <img src="images/dot_999.gif" alt="" width="4" height="4" align="middle">
                          </td><td><a href="comm.aspx?id=606" target="_blank">华贸物流顺利召开2017年年度股...</a></td><td style="color:#999999;" align="right">[2018-05-14]</td>
                        </tr><tr>
                          <td style="width:6px;">
                            <img src="images/dot_999.gif" alt="" width="4" height="4" align="middle">
                          </td><td><a href="comm.aspx?id=605" target="_blank">公司获上海市政府颁发贸易型总部认...</a></td><td style="color:#999999;" align="right">[2018-03-28]</td>
                        </tr><tr>
                          <td style="width:6px;">
                            <img src="images/dot_999.gif" alt="" width="4" height="4" align="middle">
                          </td><td><a href="comm.aspx?id=589" target="_blank">华贸物流召开干部大会、股东大会、...</a></td><td style="color:#999999;" align="right">[2017-10-31]</td>
                        </tr>
                        </tbody></table>
                    </div>
                  </td></tr>
                <tr><td height="10">
                    <img alt="" src="images/t_l_01.png"></td></tr>
                <tr><td height="30">
                    <table width="330" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td>
                          <img alt="" src="images/t_t_gg.png"></td>
                        <td width="50">
                          <a id="hlkBNewsMore" href="list.aspx?id=3424" target="_blank">更多</a>
                          <img id="Image2" src="images/ico_arrow.png" style="border-width:0px;">
                        </td></tr></tbody></table>
                  </td></tr>
                <tr><td>
                    <div>
                      <table id="gvBNews" style="width:330px;border-collapse:collapse;" cellspacing="0" cellpadding="6" border="0" align="Center">
                        <tbody><tr>
                          <td style="width:6px;">
                            <img src="images/dot_999.gif" alt="" width="4" height="4" align="middle">
                          </td><td><a href="http://www.sse.com.cn/disclosure/listedinfo/announcement/c/2019-01-03/603128_20190103_2.pdf" target="_blank">华贸物流第三届监事会第十四次会议...</a></td><td style="color:#999999;" align="right">[2019-01-03]</td>
                        </tr><tr>
                          <td style="width:6px;">
                            <img src="images/dot_999.gif" alt="" width="4" height="4" align="middle">
                          </td><td><a href="http://www.sse.com.cn/disclosure/listedinfo/announcement/c/2019-01-03/603128_20190103_1.pdf" target="_blank">华贸物流第三届董事会第二十八次会...</a></td><td style="color:#999999;" align="right">[2019-01-03]</td>
                        </tr><tr>
                          <td style="width:6px;">
                            <img src="images/dot_999.gif" alt="" width="4" height="4" align="middle">
                          </td><td><a href="http://www.sse.com.cn/disclosure/listedinfo/announcement/c/2019-01-03/603128_20190103_7.pdf" target="_blank">华贸物流第二期A股股票期权激励计...</a></td><td style="color:#999999;" align="right">[2019-01-03]</td>
                        </tr>
                        </tbody></table>
                    </div>
                  </td></tr>
                </tbody></table>
            </td>
            <td width="10">&nbsp;

            </td>
            <td class="home_table_td" valign="top">
              <table width="85%" align="center">
                <tbody><tr><td height="40">
                    <img alt="" src="images/t_t_prod.png"></td></tr>
                <tr><td style="line-height:18px; color:#333;">
                    <span id="txtService"><div>
	　　公司主营现代物流业，具体提供以国际货代为核心的跨境一站式综合物流及供应链贸易服务... <a href="comm.aspx?id=11" target="_blank">了解更多 <img alt="" src="images/ico_arrow.png" style="border-bottom: 0px solid; border-left: 0px solid; border-top: 0px solid; border-right: 0px solid"></a></div></span>
                  </td></tr>
                <tr><td>
                    <table width="100%">
                      <tbody><tr>
                        <td>
                          <a href="comm.aspx?id=10" target="_blank"><img alt="" src="images/t_t_bt01.png" border="0"></a></td><td>
                          <a href="comm.aspx?id=27" target="_blank"><img alt="" src="images/t_t_bt02.png" border="0"></a></td>
                        <td>
                          <a href="comm.aspx?id=28" target="_blank"><img alt="" src="images/t_t_bt03.png" border="0"></a></td>
                        <td>
                          <a href="comm.aspx?id=29" target="_blank"><img alt="" src="images/t_t_bt04.png" border="0"></a></td>
                        <td>
                          <a href="comm.aspx?id=30" target="_blank"><img alt="" src="images/t_t_bt05.png" border="0"></a></td>
                      </tr>
                      </tbody></table>
                  </td></tr>
                <tr><td valign="bottom" height="20">
                    <img alt="" src="images/t_l_01.png" width="300"></td></tr>
                <tr><td style=" background-image:url(images/t_t_bg02.png); background-repeat:no-repeat; background-position:right center;" height="103">
                    <table width="100%" cellspacing="0" cellpadding="0">
                      <tbody><tr><td height="30">
                          <img alt="News" src="images/t_t_netw.png"></td></tr>
                      <tr><td></td></tr>
                      <tr><td align="left">
                          <table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td>
                                <select name="ddlChinaNetwork" id="ddlChinaNetwork" onchange="javascript:return openUrl('ddlChinaNetwork');" style="color:#666666;width:200px;">
                                  <option value="">------华东------</option>
                                  <option value="comm.aspx?id=134">上海(空运)</option>
                                  <option value="comm.aspx?id=135">上海(海运)</option>
                                  <option value="comm.aspx?id=136">上海(工程物流)</option>
                                  <option value="comm.aspx?id=254">上海(仓储物流)</option>
                                  <option value="comm.aspx?id=317">上海(外高桥保税物流)</option>
                                  <option value="comm.aspx?id=318">上海(洋山港仓储物流)</option>
                                  <option value="comm.aspx?id=103">南京</option>
                                  <option value="comm.aspx?id=104">杭州</option>
                                  <option value="comm.aspx?id=105">无锡</option>
                                  <option value="comm.aspx?id=106">苏州</option>
                                  <option value="comm.aspx?id=107">扬州</option>
                                  <option value="comm.aspx?id=108">常州</option>
                                  <option value="comm.aspx?id=109">松江</option>
                                  <option value="comm.aspx?id=110">宁波(空运)</option>
                                  <option value="comm.aspx?id=319">宁波(海运)</option>
                                  <option value="comm.aspx?id=112">金华</option>
                                  <option value="comm.aspx?id=113">南通</option>
                                  <option value="comm.aspx?id=114">合肥</option>
                                  <option value="comm.aspx?id=371">昆山</option>
                                  <option value="">常熟</option>
                                  <option value="">------华北------</option>
                                  <option value="comm.aspx?id=320">北京(工程物流)</option>
                                  <option value="comm.aspx?id=115">北京(空海运)</option>
                                  <option value="comm.aspx?id=116">天津</option>
                                  <option value="comm.aspx?id=117">青岛</option>
                                  <option value="">烟台</option>
                                  <option value="comm.aspx?id=370">济南</option>
                                  <option value="comm.aspx?id=118">大连</option>
                                  <option value="">------华南------</option>
                                  <option value="comm.aspx?id=101">香港</option>
                                  <option value="comm.aspx?id=119">广州</option>
                                  <option value="comm.aspx?id=102">厦门</option>
                                  <option value="comm.aspx?id=120">福州</option>
                                  <option value="comm.aspx?id=121">深圳</option>
                                  <option value="comm.aspx?id=122">东莞</option>
                                  <option value="">------华中------</option>
                                  <option value="comm.aspx?id=125">武汉</option>
                                  <option value="comm.aspx?id=126">郑州</option>
                                  <option value="comm.aspx?id=252">长沙</option>
                                  <option value="">------西北------</option>
                                  <option value="comm.aspx?id=127">西安</option>
                                  <option value="comm.aspx?id=128">成都</option>
                                  <option value="comm.aspx?id=129">重庆</option>
                                  <option value="">------西南------</option>
                                  <option value="comm.aspx?id=526">昆明</option>

                                </select></td><td>
                                <input type="image" name="ibtnChinaGo" id="ibtnChinaGo" src="images/btn_off_lookup.gif" onclick="javascript:return openUrl('ddlChinaNetwork');" style="border-width:0px;">
                              </td></tr></tbody></table>
                        </td></tr>
                      <tr><td>&nbsp;</td></tr>
                      <tr><td align="left">
                          <table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td>
                                <select name="ddlOverseasNetwork" id="ddlOverseasNetwork" onchange="javascript:return openUrl('ddlOverseasNetwork');" style="color:#666666;width:200px;">
                                  <option value="">------北美------</option>
                                  <option value="comm.aspx?id=132">洛杉矶</option>
                                  <option value="comm.aspx?id=130">纽约</option>
                                  <option value="comm.aspx?id=131">亚特兰大</option>
                                  <option value="comm.aspx?id=603">休斯顿</option>
                                  <option value="">------欧洲------</option>
                                  <option value="comm.aspx?id=133">法兰克福</option>
                                  <option value="comm.aspx?id=647">卢森堡</option>
                                  <option value="">------东南亚------</option>
                                  <option value="comm.aspx?id=243">新加坡</option>
                                  <option value="comm.aspx?id=321">泰国</option>
                                  <option value="comm.aspx?id=322">印尼</option>
                                  <option value="comm.aspx?id=323">马来西亚</option>

                                </select>
                              </td><td>
                                <input type="image" name="ibtnOverseasGo" id="ibtnOverseasGo" src="images/btn_off_lookup.gif" onclick="javascript:return openUrl('ddlOverseasNetwork');" style="border-width:0px;">
                              </td></tr></tbody></table>
                        </td></tr>
                      </tbody></table>
                    <table cellspacing="0" cellpadding="0">
                      <tbody><tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="30"><img alt="" src="images/t_t_exps.png"></td>
                        <td height="30">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>
					<textarea name="txtWaybill" rows="2" cols="20" id="txtWaybill" onfocus="this.select();" style="color:#999999;height:30px;width:200px;">请输入运单号查询，多个运单号以逗号或换行分隔
						</textarea>
                        </td>
                        <td>
                          <input type="submit" name="btnExpressSearch" value=" " onclick="return checkwaybill();" id="btnExpressSearch" style="height:34px;width:40px;">
                        </td>
                      </tr>
                      </tbody></table>
                  </td></tr>
                </tbody></table>
            </td>
            <td width="10">&nbsp;

            </td>
            <td class="home_table_td" width="260" valign="top">
              <table width="100%" cellspacing="0" cellpadding="0" align="center">
                <tbody><tr><td style=" background-image:url(images/t_l_bg01.png); background-repeat:repeat-x; background-position:center top;">
                    <table width="232" cellspacing="0" cellpadding="0" align="center">
                      <tbody><tr>
                        <td height="40">
                          <table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td width="68">
                                <img alt="News" src="images/t_t_olser.png"></td><td>|</td><td>
                                <table id="rblUserType" border="0">
                                  <tbody><tr>
                                    <td><input id="rblUserType_0" type="radio" name="rblUserType" value="客户" checked="checked" onclick="document.form1.action='https://vip.ctsfreight.com/vip/login.asp';"><label for="rblUserType_0">客户</label></td>
                                  </tr>
                                  </tbody></table>
                              </td></tr></tbody></table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%">
                            <tbody><tr>
                              <td valign="top">
                                <table width="100%" cellspacing="0" cellpadding="0">
                                  <tbody><tr><td width="50">用户名：</td><td>
                                      <input name="username" type="text" maxlength="20" id="username" style="width:100%;"></td></tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                    <td>[<a href="../ie11.html" target="_blank">IE11访问设定</a>]</td>
                                  </tr>
                                  <tr><td width="50">密　码：</td><td>
                                      <input name="password" type="password" maxlength="20" id="password" style="width:100%;"></td></tr>
                                  </tbody></table>
                              </td>
                              <td width="65" align="right">
                                <input type="image" name="ibtnLogin" id="ibtnLogin" src="images/ico_login.png" onclick="javascript:return logincheck();" style="border-width:0px;">
                              </td>
                            </tr>
                            </tbody></table>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                      </tr>
                      <tr>
                        <td>
                          <img alt="" src="images/t_t_links.png"></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="left">
                          <table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td>
                                <select name="ddlLinks" id="ddlLinks" onchange="javascript:return openUrl('ddlLinks');" style="color:#666666;width:208px;">
                                  <option value="">------华贸链接------</option>
                                  <option value="http://210.22.158.85">华贸协同办公系统</option>
                                  <option value="http://180.168.161.126:805/Login/Index">空运客户查询</option>
                                  <option value="http://180.168.12.68/ioa">分公司业务系统</option>
                                  <option value="http://ap1.ctsfreight.com/WebReport/ReportServer?op=fs">华贸综合数据统计平台</option>
                                  <option value="http://www.ctsprojects.com">上海工程物流</option>
                                  <option value="http://www.ctsfreight.com/ctslogistics">大连工程物流</option>
                                  <option value="">------集团链接------</option>
                                  <option value="">------行业链接------</option>

                                </select>
                              </td><td>
                                <input type="image" name="ibtnLinksGo" id="ibtnLinksGo" src="images/btn_off_lookup.gif" onclick="javascript:return openUrl('ddlLinks');" style="border-width:0px;">
                              </td></tr></tbody></table>
                        </td>
                      </tr>
                      </tbody></table>
                  </td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td align="center">
                    <div style="border:1px solid #CCC; width:232px; background-color:White;">
                      <a href="comm.aspx?id=233" target="_blank">
                        <img id="imgStock" src="http://image.sinajs.cn/newchart/min/n/sh603128.gif" style="height:166px;width:230px;border-width:0px;">
                      </a>
                    </div>
                    <div style="color:#336699;">
                      <script type="text/javascript">
                        var elements = hq_str_sh603128.split(","), stockinfo = "";
                        stockinfo += elements[31] + " 股价[" + (parseInt(elements[3]) == 0 ? "--" : elements[3]) + "] 涨跌[" + (parseInt(elements[3]) == 0 ? "--" : ((elements[3] - elements[2]) / elements[2] * 100).toFixed(2) + "%") + "]";
                        document.write(stockinfo);
                      </script>10:48:00 股价[7.380] 涨跌[-0.27%]
                    </div>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>
    <%- include ../partials/footer.ejs %>
  </table>


  <script type="text/javascript" src="http://hq.sinajs.cn/list=sh603128" charset="gb2312"></script>
  <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/slideshow.js"></script>
  </body>
</html>
