<!DOCTYPE html>
<html>
  <head>
    <title>上海空跃国际物流有限公司</title>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/picslide.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <table width="960px;" cellspacing="0" cellpadding="0" align="center" class="mainWrap">
    <%- include ../partials/header.ejs %>
    <tr>
      <td>
        <div class="slides">
          <div id="slides">
<!--            <a href="comm.aspx?id=30" target="_blank"><img src="/images/ads_cn_20111017_06.jpg" alt="仓储" style="display: none;"></a>-->
<!--            <a href="comm.aspx?id=29" target="_blank"><img src="/images/ads_cn_20111017_05.jpg" alt="工程物流" style="display: none;"></a>-->
<!--            <a href="comm.aspx?id=28" target="_blank"><img src="/images/ads_cn_20111017_04.jpg" alt="供应键贸易" style="display: none;"></a>-->
            <a href="service?id=2" target="_blank"><img src="/images/ads_cn_20111017_03.jpg" alt="海运" style="display: none;"></a>
            <a href="service?id=2" target="_blank"><img src="/images/ads_cn_20111017_02.jpg" alt="空运" style="display: none;"></a>
            <a href="service?id=1" target="_blank"><img src="/images/ads_cn_20111017_01.jpg" alt="专业物流" style="display: inline;"></a>
            <input id="hdfSlides" type="hidden" value="/images/h_t_ad6_s.png|/images/h_t_ad5_s.png|/images/h_t_ad4_s.png|images/h_t_ad3_s.png|images/h_t_ad2_s.png|images/h_t_ad1_s.png" name="hdfSlides"></div>
          <div class="panel"></div>
          <div class="ico"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;
      </td>
    </tr>

    <tr>
      <td>&nbsp;
        <div class="zhuanqu">
          <div class="zhuanqulan">
            <h2>
              <img src="../images/cd_25.png" alt="箭头"><span class="zhuanqu_tu4"></span></h2>
          </div>
          <div class="hengxian">
          </div>
          <div class="zhuanqulan">
            <div class="zhuti">
              <div class="zhuanqulan_left">
                <div class="zhuanqulan_zi">
                    公司空运业务主要以国际业务为主,与国内外多个航空公司已建立密切的合作关系。公司在上海、深圳、广州、香港、北京等地拥有长期固定的合作伙伴，可提供全套专业的国际空运物流服务，包括：提货、仓储、订舱、制单、报关、拼装、配载、送货等
                </div>
              </div>
              <a href="/service?id=1" target="_blank">
                <img src="../images/ffbadcd1-97c1-41a0-bdf3-b890915020b3.jpg" alt="国际空运"></a>

            </div>
          </div>
        </div>
      </td>
    </tr>


    <tr>
      <td>&nbsp;
        <div class="zhuanqu">
          <div class="zhuanqulan">
            <h2>
              <img src="../images/cd_25.png" alt="箭头"><span class="zhuanqu_tu5"></span></h2>
          </div>
          <div class="hengxian">
          </div>
          <div class="zhuanqulan">
            <div class="zhuti">
              <div class="zhuanqulan_left">
                <div class="zhuanqulan_zi">
                    公司海运业务包括整柜（FCL)出口运输和散货拼柜（LCL)进出口运输。
                    公司与各大船公司有着良好的合作关系，在上海、深圳，广州，香港，青岛、天津等沿海港口城市，我们能为客户提供全方位的海运服务，包括：订舱、提货、代理报关、代理报检、装柜、制单、送货上门以及货物全程跟踪等。
                </div>
              </div>
              <a href="/service?id=2" target="_blank">
                <img src="../images/93578a2f-b7aa-429a-96d6-06154609aad7.jpg" alt="国际海运"></a>

            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>&nbsp;
        <div class="zhuanqu">
          <div class="zhuanqulan">
            <h2>
              <img src="../images/cd_25.png" alt="箭头"><span class="zhuanqu_tu2"></span></h2>
          </div>
          <div class="hengxian">
          </div>
          <div class="zhuanqulan">
            <div class="zhuti">
              <div class="zhuanqulan_left">
                <div class="zhuanqulan_zi">
                    公司主要提供DHL，FEDEX，UPS，TNT，EMS，国际专线等全球国际快递代理服务，同时还提供仓储，中港，报关报检等服务。我公司代理的快递服务可按客户货物的特殊性及时效要求，做出性价比最优的方案，供客户选择。
                </div>
              </div>
              <a href="/service?id=3" target="_blank">
                <img src="../images/896d6fe7-9ee2-4d84-bd6a-7f8c0e876175.jpg" alt="国际快递"></a>

            </div>
          </div>
        </div>
      </td>
    </tr>





    <%- include ../partials/footer.ejs %>

  </table>

  <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/slideshow.js"></script>
  </body>
</html>
