<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/picslide.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <table width="960px;" cellspacing="0" cellpadding="0" align="center" class="mainWrap">
    <%- include ../partials/header.ejs %>
    <tr>
      <td>
        <div class="slides">
          <div id="slides">
<!--            <a href="comm.aspx?id=30" target="_blank"><img src="/images/ads_cn_20111017_06.jpg" alt="仓储" style="display: none;"></a>-->
<!--            <a href="comm.aspx?id=29" target="_blank"><img src="/images/ads_cn_20111017_05.jpg" alt="工程物流" style="display: none;"></a>-->
<!--            <a href="comm.aspx?id=28" target="_blank"><img src="/images/ads_cn_20111017_04.jpg" alt="供应键贸易" style="display: none;"></a>-->
            <a href="service?id=2" target="_blank"><img src="/images/ads_cn_20111017_03.jpg" alt="海运" style="display: none;"></a>
            <a href="service?id=2" target="_blank"><img src="/images/ads_cn_20111017_02.jpg" alt="空运" style="display: none;"></a>
            <a href="service?id=1" target="_blank"><img src="/images/ads_cn_20111017_01.jpg" alt="专业物流" style="display: inline;"></a>
            <input id="hdfSlides" type="hidden" value="/images/h_t_ad6_s.png|/images/h_t_ad5_s.png|/images/h_t_ad4_s.png|images/h_t_ad3_s.png|images/h_t_ad2_s.png|images/h_t_ad1_s.png" name="hdfSlides"></div>
          <div class="panel"></div>
          <div class="ico"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;
      </td>
    </tr>

    <tr>
      <td>&nbsp;
        <div class="zhuanqu">
          <div class="zhuanqulan">
            <h2>
              <img src="../images/cd_25.png" alt="箭头"><span class="zhuanqu_tu4"></span></h2>
          </div>
          <div class="hengxian">
          </div>
          <div class="zhuanqulan">
            <div class="zhuti">
              <div class="zhuanqulan_left">
                <div class="zhuanqulan_zi">
                  空运是空跃国际物流的核心业务之一，与众多国内外航空公司建立密切合作伙伴关系。已经形成以华南区为中心，向华东、华北地区进行覆盖之势。 空跃国际物流目前已在深圳、广州、香港、上海、义乌、宁波等国内主要城市建立了包括中转仓库在内的机场服务中心，收货、理货、计量、报关“一站式”服务。
                </div>
              </div>
              <a href="/service?id=1" target="_blank">
                <img src="../images/ffbadcd1-97c1-41a0-bdf3-b890915020b3.jpg" alt="国际空运"></a>
             
            </div>
          </div>
        </div>
      </td>
    </tr>


    <tr>
      <td>&nbsp;
        <div class="zhuanqu">
          <div class="zhuanqulan">
            <h2>
              <img src="../images/cd_25.png" alt="箭头"><span class="zhuanqu_tu5"></span></h2>
          </div>
          <div class="hengxian">
          </div>
          <div class="zhuanqulan">
            <div class="zhuti">
              <div class="zhuanqulan_left">
                <div class="zhuanqulan_zi">
                  空跃国际物流主要从上海，香港,深圳，广州,宁波等港口,专业承揽整柜集装箱运输代理业务。我们与APL、COSCO、CSAV、HANJIN、PIL、YML等大型船公司建立有长期合作伙伴关系，借助分布全球的代理网络，空跃国际物流可以提供海运整柜、散货和集运的进出口运输服务，通过配套的报关、报检、保险、码头货物处理、拖车、税务、仓储等服务，可以在全球范围内实现门到门或点对点的运输，并可以提供集运或配送服务。
                </div>
              </div>
              <a href="/service?id=2" target="_blank">
                <img src="../images/93578a2f-b7aa-429a-96d6-06154609aad7.jpg" alt="国际海运"></a>

            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>&nbsp;
        <div class="zhuanqu">
          <div class="zhuanqulan">
            <h2>
              <img src="../images/cd_25.png" alt="箭头"><span class="zhuanqu_tu2"></span></h2>
          </div>
          <div class="hengxian">
          </div>
          <div class="zhuanqulan">
            <div class="zhuti">
              <div class="zhuanqulan_left">
                <div class="zhuanqulan_zi">
                  多元化的快递服务方式，各大快递优势互补，形成了我司最具性价比的综合速递服务，大大降低了您的成本。   各大快递综合代理服务，可接部分含电池，纯锂电池，手机，笔记本等出口运输，并可以根据您的需求为您所托运的货物量身定做合适的物流方案。
                </div>
              </div>
              <a href="/service?id=3" target="_blank">
                <img src="../images/896d6fe7-9ee2-4d84-bd6a-7f8c0e876175.jpg" alt="国际快递"></a>

            </div>
          </div>
        </div>
      </td>
    </tr>





    <%- include ../partials/footer.ejs %>

  </table>

  <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/slideshow.js"></script>
  </body>
</html>
