<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/vMenu.css" rel="stylesheet" type="text/css" />
</head>
<body>

<table width="960px;" cellspacing="0" cellpadding="0" align="center">
    <%- include ../partials/header.ejs %>
    <tr>
        <td>
            <img id="imgAdv" src="../images/sub_t_30.jpg" style="height:170px;width:960px;border-width:0px;">
        </td>
    </tr>

    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr>
                    <td valign="top" width="240">
                        <table cellpadding="0" cellspacing="1" style="border: 1px solid #ccc;" align="left">
                            <tbody><tr>
                                <td style="background-image: url(../images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                            <td style="background-image: url(../images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                <table><tbody><tr><td width="10">&nbsp;</td>
                                                        <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                            <span id="lblMenuTitle">人才战略</span>
                                                        </td></tr></tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="vmenu" class="vmenu"><ul>
                                                        <li><a href="/talents">人才战略</a>
                                                        </li><li><a href="/team">优秀团队</a>
                                                        </li><li><a href="/employeeGrow">员工成长</a>
                                                        </li><li><a href="/employeeNotes">员工手册</a>
                                                        </li><li><a href="/honestBusiness">廉洁从业</a>
                                                        </li><li><a href="/publicNotice">巡视公告</a>
                                                        </li></ul></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="45">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                    <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                <span id="lblArticleTitle">关于国资委党委第六巡视组对中国诚通党委开展巡视的公告</span>
                                            </td>
                                            <td align="right" style="color: #666666;">
                                                <span id="lblPath"><a href="./">首页</a> &gt; <a href="/talents">人才战略</a> &gt; <a href="/publicNotice">巡视公告</a></span>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: 1px solid #ccc;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td style="line-height: 24px;">
                                            <span id="lblContent"><p>
	　　根据国资委党委和巡视工作领导小组的统一部署，国资委党委第六巡视组于2019年10月11日至12月10日对中国诚通控股集团有限公司党委开展巡视工作。</p>
<p>
	　　巡视工作将突出政治巡视，以“四个意识”为政治标杆，把“两个维护”作为根本任务，聚焦企业党组织政治责任和企业职责使命，强化政治监督，深入查找政治偏差，重点监督检查落实党的路线方针政策和党中央重大决策部署情况，落实全面从严治党战略部署情况，落实新时代党的组织路线情况，落实巡视和主题教育等整改情况，推动解决制约国企改革发展的共性问题和深层次问题。</p>
<p>
	　　巡视期间，巡视组将广泛听取干部职工的意见，主要受理反映中国诚通党委领导班子、下一级党组织领导班子主要负责人和重要岗位领导干部问题的来信来访，对于不属于巡视受理范围的信访，将按照规定由中国诚通和有关部门处理。</p>
<p>
	　　巡视组在中国诚通巡视期间，具体联系方式如下：</p>
<ul>
	<li>
		联系电话: 13520382697，受理时间为工作日8:00-18:00</li>
	<li>
		电子邮箱: <a href="mailto:gzwxsz6@sasac.gov.cn">gzwxsz6@sasac.gov.cn</a></li>
	<li>
		通信地址: 北京市西城区宣武门西大街26号院国务院国资委党委第六巡视组（邮政编码: 100053）</li>
</ul>
<p style="text-align: right">
	国资委党委第六巡视组<br>
	2019年10月11日</p></span>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>

    <tr>
        <td style="border-bottom: 1px solid #ccc;">
            &nbsp;
        </td>
    </tr>




    <%- include ../partials/footer.ejs %>
</table>


<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/slideshow.js"></script>
</body>
</html>