<!DOCTYPE html>
<html>
<head>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/vMenu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="960px;" cellspacing="0" cellpadding="0" align="center" id="service" style="margin:0 auto;">
    <%- include ../partials/header.ejs %>

    <table class="switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tr>
            <td>
                <img id="imgAdv" src="/images/sub_t_22_01.jpg" style="height:170px;width:960px;border-width:0px;">
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody><tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                                background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                            height: 35px; width: 200px;">
                                                    <table><tbody><tr><td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                                <span id="lblMenuTitle">服务产品</span>
                                                            </td></tr></tbody></table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li>
                                                                <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际空运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际海运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际快递</a>
                                                            </li>
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
<!--                                                            </li>-->
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="45">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                    <span id="lblArticleTitle">国际空运</span>
                                                </td>
                                                <td style="color: #666666;" align="right">
                                                    <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=10">国际空运</a></span>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;">
                                                <span id="lblContent"><p>
        <strong>空运出口</strong></p>
    <p>
        　　<img alt="" src="/images/prod_air01.jpg" style="height: 227px; width: 318px; float: right">本公司的空运出口服务，接受直接客户或同行客户的业务总包或者分包，设计并优化跨境物流全过程方案，从境内发货人处提取货物，报关报检，组织国际运输活动，直至将货物分拨派送至境外收货人指定交货地点，对物流链上的货物流、单证流、信息流和资金流等开展全方位快速响应和低成本控制，满足客户门到门一站式跨境综合物流的全部需求。<br>
        　　本公司依托境内外网络齐全、经营规模和行业地位领先以及业务平台等综合优势，以安全、准确、迅速、低成本为宗旨，航线产品覆盖全球所有区域，层次丰富多样，且具强大的市场资源整合能力，为客户提供和保障价值服务，满足不同层次客户的各种需求。<br>
        　　本公司的空运出口服务，向纺织、电子、机械设备、食品、化工、电商等各类客户，提供工厂提货、仓储、理货、贴标唰唛、包装、配载、集运、一关三检、监管、进港管理以及货物抵达境外卸货港后的提货、清关、仓储、中转、分拨、派送收货点等的全过程服务。<br>
        　　本公司和大部分国际知名货运航空公司签订有包机、包舱协议,并与其中有全球影响力的航空公司签订了战略合作协议，在全球范围内紧密合作。本公司拥有覆盖全球的精品航线和海外地面服务网络，每个季节备有充足的货源，稳定的舱位，由经验丰富的航线人员在最短时间内设计出“安全、快捷、经济”的出运航线，对每个时段的货物状态提供高效即时的客户服务。<br>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;航线产品丰富及其市场优势，是本公司空运出口具竞争力的差异化服务优势。</p>
    <p>
        <strong>空运进口</strong></p>
    <p>
        　　本公司的空运进口服务，依托完善的海外网络，为世界各地进口至中国的货物提供从发货点运抵我国口岸并派送至收货人指定地点的业务总包或者分包，为客户提供Ex-work在内的全程或分段国际航空运输服务，以安全、准确、迅速、低成本为宗旨，及时反映货物在进口运输中的货物流、单证流、信息流和资金流。<br>
        　　对工厂交货的全程进口空运，本公司提供从发货地订单跟踪、上门提货、代客包装、口岸操作等个性化服务；对有特殊需求的客户，本公司提供从海外提货、国际空运、本地操作、口岸清关、国内派送等整条服务链上的个性化定制服务，包括专人对口、专区储存、专队操作等实现形式，并将作业过程通过信息系统向客户开放。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 本公司拥有管理制度符合海关要求的监管仓库和运输车辆等设备设施，具备空运进口分拨资质，向客户提供进口货物的工厂提货、国际运输、单证、关务、仓储、分拣、监管、派送收货点等的门到门一站式综合物流服务。<br>
        本公司拥有一批资质齐全和经验丰富的报关、报检、运输及仓储专业人员，结合信息系统优势，方便向客户提供快捷转关、运输和跟踪服务。<br>
        <br>
        　&nbsp;&nbsp; 本公司的进口口岸操作，实行24小时假日无休制，最大限度地满足广大客户的提货需求。</p>
    <p>
        <strong>监管仓库</strong></p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本公司在全国各空港口岸设立了进出口货物的海关监管仓库，并具备冷冻、冷藏、恒温和贵重物品保管库等综合功能，同时配置有重型铲车、升降平台等设施，培养锻炼了一批经验丰富和稳定的操作队伍，以适应各类特种货物如精密仪器、重大件、危险品、冷链货物等的操作要求，包括进口包机、机坪接货、整板整箱等，并制定有一整套作业规范和应急预案制度。</p>
    <p>
        <strong>清关服务</strong></p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本公司设立有口岸清关服务部门，对各类商品的归类、申报、查验有着专业的作业团队，熟悉海关和出入境检验检疫的各项政策规章，并进行持续的跟进、培训和向客户提供咨询服务，保持与海关、检验检疫部门的顺畅沟通，尊重和重视客户对清关时限的需求。</p></span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
    </table>

    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tr>
            <td>
                <img id="imgAdv" src="/images/sub_t_22_02.jpg" style="height:170px;width:960px;border-width:0px;">
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody><tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table><tbody><tr><td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                                <span id="lblMenuTitle">服务产品</span>
                                                            </td></tr></tbody></table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li>
                                                                <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际空运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际海运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际快递</a>
                                                            </li>
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 供应链贸易</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
<!--                                                            </li>-->
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="45">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                    <span id="lblArticleTitle">国际海运</span>
                                                </td>
                                                <td style="color: #666666;" align="right">
                                                    <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=27">国际海运</a></span>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;">
                                            <span id="lblContent"><p>
	<strong>海运出口</strong></p>
<p>
	　　本公司的国际海运出口服务，凭借公共订舱平台和无船承运人的双重身份，以服务综合、优质快速和低成本为优势，接受不同类型客户的需求委托，承担运输总包或者分包的全物流链条资源整合、方案设计和运营执行，为客户提供从境内发货处提取货物，组织国际运输并分拨派送至境外收货人指定交货点的“门到门”一站式跨境综合物流服务，在安全、优质、快速响应的基础上，提供承运货物在运输全过程中的货物流、单证流、信息流和资金流等的综合服务。<br>
	　　本公司的海运出口服务，涵盖国际海运的订舱、配载、报关报检、仓储、陆路运输、进出港离境动态、国际中转、境内外多式联运，以及海空联运、拼装集运、危险品和特种箱的运输等，并提供全过程的动态信息服务，班轮覆盖率达到100%，航线产品丰富多样，以满足不同层次客户对交货周期和成本的不同需求。<br>
	　　本公司的海空联运服务主要经韩国、日本，台湾等地中转至世界各地，迪拜中转至欧洲，非洲大陆主要空港以及经洛杉机中转至南美地区；拼箱产品线路主要有温哥华、蒙特丽尔、多伦多、纽约、芝加哥、洛杉机、汉堡、南安普顿和勒阿弗尔港；国内多式联运产品主要由武汉、郑州、重庆等内陆地以亚欧铁路为主线，结合长江内支线运输，为客户提供快捷、安全、优于空运和海空联运成本的多式联运服务。<br>
	　　本公司已与各集装箱班轮船公司实现EDI电子数据交换，与世界前20位船东实现集装箱舱单SI系统对接，并取得全球航线内外资班轮船东的远程提单签发授权资格，已大部分实现第一时间获取船公司在委托受载的集装箱海外卸货港以及中转派送的相关即时物流动态信息。</p>
<p>
	<strong>海运进口</strong></p>
<p>
	　　本公司的海运进口服务，以安全、准确、迅速、持续优化成本为优势，向进口商或贸易商提供世界各地进口至中国“门到门”货物运输的总包或者分包，全面、准确、及时地反映货物在运输过程中的全程货物状态和清关信息。<br>
	　　本公司的海运进口服务，包括境外工厂或仓库提货、清关单证制作及管理、箱型调配与配载集运以及货物抵达中国港口后的整箱直提、保税仓储、拼箱拆箱、一关三检、仓储增值服务、转关派送等的“门到门”一站式跨境全过程综合物流服务。<br>
	&nbsp;</p>
<p>
	<strong>海运进口分拨</strong>　　</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 本公司具有海运进口拼箱仓储分拨资质，拥有一批具备资质和经验丰富的报关、报检、运输及仓储专业人员，以及经由海关、国检行政许可的海关监管、分拨仓库和监管运输车辆，并提供即时信息系统对接服务，方便快捷地进行货物转关、运输、跟踪和交付。在进口食品、汽车整车及其零配件、高价值工业原材料等细分市场享有行业知名度，并致力于跨境电商线下物流服务的业务开拓。</p></span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
    </table>

    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tr>
            <td>
                <img id="imgAdv" src="/images/sub_t_22_03.jpg" style="height:170px;width:960px;border-width:0px;">
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody><tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table><tbody><tr><td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                                <span id="lblMenuTitle">服务产品</span>
                                                            </td></tr></tbody></table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li>
                                                                <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际空运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际海运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国家快递</a>
                                                            </li>
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
<!--                                                            </li>-->
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="45">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                    <span id="lblArticleTitle">供应链贸易</span>
                                                </td>
                                                <td style="color: #666666;" align="right">
                                                    <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=28">供应链贸易</a></span>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;">
                                            <span id="lblContent"><p>
	　　本公司的供应链贸易服务，主要为生产商提供采购执行和分销执行的综合服务，按照客户的采购或销售需求，提供市场信息、价格协调、排产协调、交货协调、物流策划、通关、仓储、配送、简单加工、资金、结算等“一条龙”服务，最终将商品销售给客户或客户指定的购买商。</p>
<p>
	　　供应链贸易流程图：</p>
<p>
	<img alt="" src="/images/供应链贸易流程图.jpg" style="width: 710px; height: 485px"></p></span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
    </table>

    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tr>
            <td>
                <img id="imgAdv" src="/images/sub_t_22_04.jpg" style="height:170px;width:960px;border-width:0px;">
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody><tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table><tbody><tr><td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                                <span id="lblMenuTitle">服务产品</span>
                                                            </td></tr></tbody></table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li>
                                                                <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际空运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际海运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际快递</a>
                                                            </li>
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
<!--                                                            </li>-->
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="45">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                    <span id="lblArticleTitle">工程物流</span>
                                                </td>
                                                <td style="color: #666666;" align="right">
                                                    <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=29">工程物流</a></span>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;">
                                            <span id="lblContent"><p>
	　　本公司的工程物流服务，包括客户需求分析、多式联运物流方案咨询设计、业务资源整合和优化、线路和现场勘察、关务咨询和服务、工厂提货、包装、集港、远洋运输、保险、装卸、工地安装等的“门到门”全过程交钥匙的综合物流服务。</p>
<p>
	　　本公司的项目物流服务，通过了解和分析客户的供应链整体需求，为客户定制供应链物流综合解决方案，包括库房选址、库房规划、运输路线、运营设计和执行，以及最终客户满意度调查在内的综合全过程物流设计和服务。</p>
<p>
	　　本公司工程物流和项目物流的服务对象，主要为国内和“走出去、引进来”的各行业大型骨干企业，包括工程建设、石油化工、电力水利、装备制造、冶金矿业、风电等的各个领域。本公司重视客户关注的每个重要节点及其服务需求的独特性，重视营运的技术和方案分析，量身订制，以提高执行和安全的效率，努力为客户降低成本。</p></span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
    </table>

    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tr>
            <td>
                <img id="imgAdv" src="/images/sub_t_22_05.jpg" style="height:170px;width:960px;border-width:0px;">
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody><tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table><tbody><tr><td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                                <span id="lblMenuTitle">服务产品</span>
                                                            </td></tr></tbody></table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li>
                                                                <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际空运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际海运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际快递</a>
                                                            </li>
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
<!--                                                            </li>-->
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="45">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                    <span id="lblArticleTitle">仓储第三方物流</span>
                                                </td>
                                                <td style="color: #666666;" align="right">
                                                    <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=30">仓储第三方物流</a></span>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;">
                                            <span id="lblContent"><p>
	　　本公司拥有及租用的仓储面积超过十五万平米，分布于内地和香港各服务网点，主要有海关监管、集装箱内装、配送中心和公共型仓库等四种类型。</p>
<p>
	　　本公司的仓储服务，按照业务类型和客户需求，为客户提供储存、理货、配载、包装、分拣、贴标唰唛、控温控湿、冷藏冷冻、贵种物品保安、配送等各种附加值服务，配合客户实施多元化市场推广策略。</p>
<p>
	　　本公司的仓库管理信息系统，对库存管理实施全面信息化管理。</p></span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
    </table>

    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tr>
            <td>
                <img id="imgAdv" src="/images/sub_t_22_06.jpg" style="height:170px;width:960px;border-width:0px;">
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody><tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table><tbody><tr><td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                                <span id="lblMenuTitle">服务产品</span>
                                                            </td></tr></tbody></table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li>
                                                                <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际空运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际海运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际快递</a>
                                                            </li>
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
<!--                                                            </li>-->
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="45">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                    <span id="lblArticleTitle">合同物流</span>
                                                </td>
                                                <td style="color: #666666;" align="right">
                                                    <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=436">合同物流</a></span>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;">
                                        <span id="lblContent"></span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
    </table>

    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tr>
            <td>
                <img id="imgAdv" src="/images/sub_t_22_06.jpg" style="height:170px;width:960px;border-width:0px;">
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody><tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table><tbody><tr><td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                                <span id="lblMenuTitle">服务产品</span>
                                                            </td></tr></tbody></table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li>
                                                                <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际空运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际海运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际快递</a>
                                                            </li>
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
<!--                                                            </li>-->
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="45">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                    <span id="lblArticleTitle">国际同行合作</span>
                                                </td>
                                                <td style="color: #666666;" align="right">
                                                    <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=31">国际同行合作</a></span>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;">
                                        <span id="lblContent"></span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
    </table>

    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tr>
            <td>
                <img id="imgAdv" src="/images/sub_t_22_07.jpg" style="height:170px;width:960px;border-width:0px;">
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody><tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table><tbody><tr><td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                                <span id="lblMenuTitle">服务产品</span>
                                                            </td></tr></tbody></table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li>
                                                                <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际空运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际海运</a>
                                                            </li>
                                                            <li>
                                                                <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际快递</a>
                                                            </li>
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
<!--                                                            </li>-->
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="45">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                    <span id="lblArticleTitle">进出境关务</span>
                                                </td>
                                                <td style="color: #666666;" align="right">
                                                    <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=32">进出境关务</a></span>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;">
                                            <span id="lblContent"><p>
	　　我国以及世界各国对进出境货物的法律和管制规定烦琐而复杂，货物的通关和检验检疫程序及其速度是影响合规性、货物流转效率和多方权利的关键性环节。</p>
<p>
	　　本公司是海关和检验检疫部门最早批准的代理报关报检企业之一，在关务管理方面积累了丰富的实践经验，为客户提供产品归类、报关报检咨询审核、单证制作和管理、现场报关报检、运输安排、查验放行等的全方位高效率服务。</p>
<p>
	　　本公司拥有一批具备关务资质和实践经验丰富的员工，熟悉关务各项政策和法律法规规定，具有较强的业务操作能力和塌实稳重的工作作风。</p></span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
    </table>




    <%- include ../partials/footer.ejs %>
</table>



<script type="text/javascript" src="http://hq.sinajs.cn/list=sh603128" charset="gb2312"></script>
<script type="text/javascript" src="/javascripts/vue.js"></script>
<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/slideshow.js"></script>
<script type="text/javascript" src="/javascripts/switchTabs.js"></script>
<script>
	$(document).ready(function () {
		var currentTabIndex = getCurrentTabIndex();
		switchTabs(currentTabIndex);
	});
</script>
<script>
	var service = new Vue({
		el:"#service",
		data:{

		}

	});

</script>
</body>
</html>