<!DOCTYPE html>
<html>
<head>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/vMenu.css" rel="stylesheet" type="text/css" />
</head>
<body>

<table width="960px;" cellspacing="0" cellpadding="0" align="center" id="service" style="margin:0 auto;">
    <%- include ../partials/header.ejs %>
    <table class="switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">

        <tbody>

        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_01.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                                background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                            height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">国际空运</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=10">国际空运</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"><p> <strong>空运出口</strong></p> <p> 　　<img alt="" src="/images/prod_air01.jpg" style="height: 227px; width: 318px; float: right" />本公司的空运出口服务，接受直接客户或同行客户的业务总包或者分包，设计并优化跨境物流全过程方案，从境内发货人处提取货物，报关报检，组织国际运输活动，直至将货物分拨派送至境外收货人指定交货地点，对物流链上的货物流、单证流、信息流和资金流等开展全方位快速响应和低成本控制，满足客户门到门一站式跨境综合物流的全部需求。<br /> 　　本公司依托境内外网络齐全、经营规模和行业地位领先以及业务平台等综合优势，以安全、准确、迅速、低成本为宗旨，航线产品覆盖全球所有区域，层次丰富多样，且具强大的市场资源整合能力，为客户提供和保障价值服务，满足不同层次客户的各种需求。<br /> 　　本公司的空运出口服务，向纺织、电子、机械设备、食品、化工、电商等各类客户，提供工厂提货、仓储、理货、贴标唰唛、包装、配载、集运、一关三检、监管、进港管理以及货物抵达境外卸货港后的提货、清关、仓储、中转、分拨、派送收货点等的全过程服务。<br /> 　　本公司和大部分国际知名货运航空公司签订有包机、包舱协议,并与其中有全球影响力的航空公司签订了战略合作协议，在全球范围内紧密合作。本公司拥有覆盖全球的精品航线和海外地面服务网络，每个季节备有充足的货源，稳定的舱位，由经验丰富的航线人员在最短时间内设计出“安全、快捷、经济”的出运航线，对每个时段的货物状态提供高效即时的客户服务。<br /> <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;航线产品丰富及其市场优势，是本公司空运出口具竞争力的差异化服务优势。</p> <p> <strong>空运进口</strong></p> <p> 　　本公司的空运进口服务，依托完善的海外网络，为世界各地进口至中国的货物提供从发货点运抵我国口岸并派送至收货人指定地点的业务总包或者分包，为客户提供Ex-work在内的全程或分段国际航空运输服务，以安全、准确、迅速、低成本为宗旨，及时反映货物在进口运输中的货物流、单证流、信息流和资金流。<br /> 　　对工厂交货的全程进口空运，本公司提供从发货地订单跟踪、上门提货、代客包装、口岸操作等个性化服务；对有特殊需求的客户，本公司提供从海外提货、国际空运、本地操作、口岸清关、国内派送等整条服务链上的个性化定制服务，包括专人对口、专区储存、专队操作等实现形式，并将作业过程通过信息系统向客户开放。<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 本公司拥有管理制度符合海关要求的监管仓库和运输车辆等设备设施，具备空运进口分拨资质，向客户提供进口货物的工厂提货、国际运输、单证、关务、仓储、分拣、监管、派送收货点等的门到门一站式综合物流服务。<br /> 本公司拥有一批资质齐全和经验丰富的报关、报检、运输及仓储专业人员，结合信息系统优势，方便向客户提供快捷转关、运输和跟踪服务。<br /> <br /> 　&nbsp;&nbsp; 本公司的进口口岸操作，实行24小时假日无休制，最大限度地满足广大客户的提货需求。</p> <p> <strong>监管仓库</strong></p> <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本公司在全国各空港口岸设立了进出口货物的海关监管仓库，并具备冷冻、冷藏、恒温和贵重物品保管库等综合功能，同时配置有重型铲车、升降平台等设施，培养锻炼了一批经验丰富和稳定的操作队伍，以适应各类特种货物如精密仪器、重大件、危险品、冷链货物等的操作要求，包括进口包机、机坪接货、整板整箱等，并制定有一整套作业规范和应急预案制度。</p> <p> <strong>清关服务</strong></p> <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本公司设立有口岸清关服务部门，对各类商品的归类、申报、查验有着专业的作业团队，熟悉海关和出入境检验检疫的各项政策规章，并进行持续的跟进、培训和向客户提供咨询服务，保持与海关、检验检疫部门的顺畅沟通，尊重和重视客户对清关时限的需求。</p></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_02.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 供应链贸易</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">国际海运</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=27">国际海运</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"><p> <strong>海运出口</strong></p> <p> 　　本公司的国际海运出口服务，凭借公共订舱平台和无船承运人的双重身份，以服务综合、优质快速和低成本为优势，接受不同类型客户的需求委托，承担运输总包或者分包的全物流链条资源整合、方案设计和运营执行，为客户提供从境内发货处提取货物，组织国际运输并分拨派送至境外收货人指定交货点的“门到门”一站式跨境综合物流服务，在安全、优质、快速响应的基础上，提供承运货物在运输全过程中的货物流、单证流、信息流和资金流等的综合服务。<br /> 　　本公司的海运出口服务，涵盖国际海运的订舱、配载、报关报检、仓储、陆路运输、进出港离境动态、国际中转、境内外多式联运，以及海空联运、拼装集运、危险品和特种箱的运输等，并提供全过程的动态信息服务，班轮覆盖率达到100%，航线产品丰富多样，以满足不同层次客户对交货周期和成本的不同需求。<br /> 　　本公司的海空联运服务主要经韩国、日本，台湾等地中转至世界各地，迪拜中转至欧洲，非洲大陆主要空港以及经洛杉机中转至南美地区；拼箱产品线路主要有温哥华、蒙特丽尔、多伦多、纽约、芝加哥、洛杉机、汉堡、南安普顿和勒阿弗尔港；国内多式联运产品主要由武汉、郑州、重庆等内陆地以亚欧铁路为主线，结合长江内支线运输，为客户提供快捷、安全、优于空运和海空联运成本的多式联运服务。<br /> 　　本公司已与各集装箱班轮船公司实现EDI电子数据交换，与世界前20位船东实现集装箱舱单SI系统对接，并取得全球航线内外资班轮船东的远程提单签发授权资格，已大部分实现第一时间获取船公司在委托受载的集装箱海外卸货港以及中转派送的相关即时物流动态信息。</p> <p> <strong>海运进口</strong></p> <p> 　　本公司的海运进口服务，以安全、准确、迅速、持续优化成本为优势，向进口商或贸易商提供世界各地进口至中国“门到门”货物运输的总包或者分包，全面、准确、及时地反映货物在运输过程中的全程货物状态和清关信息。<br /> 　　本公司的海运进口服务，包括境外工厂或仓库提货、清关单证制作及管理、箱型调配与配载集运以及货物抵达中国港口后的整箱直提、保税仓储、拼箱拆箱、一关三检、仓储增值服务、转关派送等的“门到门”一站式跨境全过程综合物流服务。<br /> &nbsp;</p> <p> <strong>海运进口分拨</strong>　　</p> <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 本公司具有海运进口拼箱仓储分拨资质，拥有一批具备资质和经验丰富的报关、报检、运输及仓储专业人员，以及经由海关、国检行政许可的海关监管、分拨仓库和监管运输车辆，并提供即时信息系统对接服务，方便快捷地进行货物转关、运输、跟踪和交付。在进口食品、汽车整车及其零配件、高价值工业原材料等细分市场享有行业知名度，并致力于跨境电商线下物流服务的业务开拓。</p></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_03.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国家快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">国际快递</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=28">国际快递</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;">
                                        <!--start-->
                                        <div class="xuanka xuankaTop">
                                            <div class="right_one">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="qd">渠道名称：DHL国际快递</span>
                                            </div>
                                            <div class="right_two">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="qdInfo">渠道介绍：</span>
                                                <p> 香港DH国际快递是全球快递行业的市场领导者。寄送范围可达220个国家及地区、覆盖超过120,000个目的地（主要邮递区码地区）的网络，为企业及私人顾客提供专递及速递服务。空跃国际物流是DH一级代理，与DH有着深度、广泛的合作，是DH深圳地区主要的代理商之一，代理几乎所有DH服务项目。由于出货量庞大，服务优良，故此空跃国际物流的DH价格优势明显，递送快捷，强大的货物处理能力，完善的物流操作系统，专业化的后勤操作团队是您迈向成功的助推器。</p>
                                            </div>
                                            <div class="right_three">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="service">服务优势：</span>
                                                <div class="fangwei">
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>范围-服务覆盖220个国家及地区。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>时效-全球派送2-7个工作日妥投。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>查询-在线查询全程详细包裹派送信息。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>便捷-每天航班。</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right_three">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="pbr">常见问题：</span>
                                                <div class="fangwei">
                                                    <div class="fangwei_left">
                                                        <p style="width: 100%; overflow: hidden"> <span class="kuai"></span><span>各国限制参考：</span></p>
                                                        <p style="padding-left: 18px"> 1、寄往尼日利亚的货，单件重量不能超50KG，单票不超50KG，建议拆分为多票，每票重量不超过50KG； </p>
                                                        <p style="padding-left: 18px"> 2、寄往安哥拉的快件，单件重量不能超50KG，单票不超250KG； </p>
                                                        <p style="padding-left: 18px"> 3、寄往突尼斯的单件重量不能超30KG，单票不超40KG； </p>
                                                        <p style="padding-left: 18px"> 4、寄往阿尔及利亚的快件，单件不能超40KG； </p>
                                                        <p style="padding-left: 18px"> 5、寄往厄瓜多尔、黎巴嫩、土耳其、保加利亚、俄罗斯须盖章正本发票清关。 </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lianxikefu">
                                            </div>
                                        </div>
                                        <div class="xuanka">
                                            <div class="right_one">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="qd">渠道名称：ARAMEX 国际快递</span>
                                            </div>
                                            <div class="right_two">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="qdInfo">渠道介绍：</span>
                                                <p> Aramex中东专线：中东快递专家，是阿拉伯世界的第一本土快递, 掌握了整个阿拉伯世界的快递市场。实力雄厚，网络遍布阿拉伯世界各个角落并且正在覆盖全球。众多快递国际快递公司在中东清关派送合作伙伴，超强清关，没有偏远附加费；空跃国际物流与HK ARAMEX 有着良好的合作伙伴关系。</p>
                                            </div>
                                            <div class="right_three">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="service">服务优势：</span>
                                                <div class="fangwei">
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>本土-中东专线是国际货物去中东国家的首选。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>价格-超强清关，没有偏远附加费。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>时效-3-5个工作日妥投。</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right_three">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="pbr">常见问题：</span>
                                                <div class="fangwei">
                                                    <div class="fangwei_left">
                                                        <p style="width: 100%; overflow: hidden"> <span class="kuai"></span><span>处理费适用安排：</span></p>
                                                        <p style="padding-left: 18px"> 10美元处理费将适用于以下安排：（在目的地） </p>
                                                        <p style="padding-left: 18px"> 1）扣税（收货人拒绝支付义务，托运人确认支付）； </p>
                                                        <p style="padding-left: 18px"> 2）回运（装运被迫返回/托运人请求返回的货）； </p>
                                                        <p style="padding-left: 18px"> 3）销毁货物（托运人的要求销毁货物在目的地）； </p>
                                                        <p style="padding-left: 18px"> 4）修改目的地的（托运人要求重新转运至其他国家或地址 ）; </p>
                                                        <p style="padding-left: 18px"> 5）罚款（目的地和托运人需交纳）针对任何处罚 </p>
                                                        <p style="width: 100%; overflow: hidden"> <span class="kuai"></span><span>港币50元处理费将适用于以下安排：（出货量仍处于原点 - 香港）：</span></p>
                                                        <p style="padding-left: 18px"> 1）托运人请求返回不可接受的货/暂停发货，存货在ARAMEX仓库的/代付其他杂费 ;</p>
                                                        <p style="padding-left: 18px"> 2）ARAMEX发货时发现不可接受的，不能转发到最终目的地，托运人的要求在ARAMEX HKG仓库销毁的； </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lianxikefu">
                                            </div>
                                        </div>
                                        <div class="xuanka">
                                            <div class="right_one">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="qd">渠道名称：EMS 国际快递</span>
                                            </div>
                                            <div class="right_two">
                                                <img src="../images/main_4.png" alt="main_4.png" />渠道介绍：
                                                <p> 全球邮政特快专递业务（EMS国际快递）是各国邮政开办的一项特殊邮政业务。EMS国际快递业务在各国邮政、海关、航空等部门均享有优先处理权。它以高速、高质量为用户传递国际紧急信函、文件资料、金融票据、商品货样等各类文件资料和物品，清关能力强。EMS国际快递无需加收燃油附加费，不计算体积重量，按实重计费。</p>
                                            </div>
                                            <div class="right_three">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="service">服务优势：</span>
                                                <div class="fangwei">
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>价格-无偏远及燃油附加费，不计算体积重量，按实重计费。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>查询-在线查询全程详细派送信息。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>清关-清关能力强，在各国邮政、海关、航空等部门均享有优先处理权。</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lianxikefu">
                                            </div>
                                        </div>
                                        <div class="xuanka">
                                            <div class="right_one">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="qd">渠道名称：FedEx 国际快递</span>
                                            </div>
                                            <div class="right_two">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="qdInfo">渠道介绍：</span>
                                                <p> FedEx-联邦快递是全球最具规模的快递运输公司之一，为全球超过220个国家及地区提供快捷、可靠的快递服务。 中国联邦快递根据服务类型可分为：中国联邦快递优先型服务（International Priority (IP)）和中国联邦快递经济型服务（International Economy (IE)），空跃国际物流结合FEDEX快递的优势所在，与之展开更为深度的合作，旨在为客户提供更为快捷，经济的综合性快递服务。 </p>
                                            </div>
                                            <div class="right_three">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="service">服务优势：</span>
                                                <div class="fangwei">
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>范围-服务覆盖220个国家及地区。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>时效-2-7个工作日。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>查询-在线查询全程详细包裹派送信息。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>运送-拥有全球最庞大的专用货机队。</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lianxikefu">
                                            </div>
                                        </div>
                                        <div class="xuanka">
                                            <div class="right_one">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="qd">渠道名称：UPS 国际快递</span>
                                            </div>
                                            <div class="right_two">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="qdInfo">渠道介绍：</span>
                                                <p> UPS 全称，联合包裹服务公司，是一家全球性的公司，其商标是世界上最知名、最值得景仰的商标之一，也是世界上最大的快递承运商与包裹递送公司。香港作为一个转口港有着明显的优势，货柜码头的规模、频密的航班次数以及香港提供的与转口货物有关的服务效率方面的优势，决定了HKUPS的价格、时效、稳定性、服务等方面的优势，空跃国际物流作为深圳地区UPS的金牌代理，为广大客户提供一站式快递业务，极大的节省了客户的时间，相比其他代理时效上得到极大程度的提高，增强了其产品竞争力，是空跃国际物流为广大客户开通的又一项国际运输解决方案。 </p>
                                            </div>
                                            <div class="right_three">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="service">服务优势：</span>
                                                <div class="fangwei">
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>范围-服务覆盖220个国家及地区。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>时效-全球派送2-7个工作日妥投。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>查询-在线查询全程详细包裹派送信息。</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right_three">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="pbr">常见问题：</span>
                                                <div class="fangwei">
                                                    <div class="fangwei_left">
                                                        <p style="width: 100%; overflow: hidden"> <span class="kuai"></span><span>UPS附加费标准：</span></p>
                                                        <p style="padding-left: 18px"> 一、更改地址附加费：香港UPS为港币77元每件，最高收费港币273元每票；大陆UPS为人民币68元每件，最高收费人民币280元每票。 </p>
                                                        <p style="padding-left: 18px"> 二、附加手续服务费：香港UPS为港币40元每件，大陆UPS为人民币40元每件，客户托运以下任何一款包裹时，UPS将会对每件包裹向客户加收此附加费： </p>
                                                        <p style="padding-left: 40px"> 1）任何包装在金属或木制的托运容器之物件。 </p>
                                                        <p style="padding-left: 40px"> 2）任何未有以瓦楞纸完包裹好的圆柱形物件，如圆桶、鼓、提桶或轮胎等。 </p>
                                                        <p style="padding-left: 40px"> 3）任何最长一边之长度超过152厘米或第二最长边的长度超过76厘米的包裹。 </p>
                                                        <p style="padding-left: 40px"> 4）任何单件货物实重超过32公斤。</p>
                                                        <p style="padding-left: 40px"> 以上4条限制满足多条，只加收一个RMB40；</p>
                                                        <p style="padding-left: 18px"> 三、超过最大限制附加费：香港UPS为港币388元每件，大陆UPS为人民币378元每件（此收费标准不变，但原长度上线由330厘米修改为419厘米），UPS对重量和尺寸的限制要求如下：</p>
                                                        <p style="padding-left: 40px"> 1）任何包裹的最長一邊 (長度) 超過270厘米；</p>
                                                        <p style="padding-left: 40px"> 2）任何包裹的三围之和（即：（宽+高）*2+长）超过419厘米；</p>
                                                        <p style="padding-left: 40px"> 3）任何包裹的重量实重70公斤。</p>
                                                        <p style="padding-left: 18px"> 特别说明：</p>
                                                        <p style="padding-left: 40px"> 1、UPS不承运超过以上三个条件的包裹，被UPS操作人员一经发现会拒收，如果因遗漏发现而被安排出口的此类货件，UPS会完成此派送服务，并自动会向发件客户收取此附加费。</p>
                                                        <p style="padding-left: 40px"> 2、托运的包裹同时超过长度及重量限制（例如符合以上第1及第3点），UPS只会对该件包裹收取一次388元的附加费，而不会重复计算此项费用。</p>
                                                        <p style="padding-left: 18px"> 四、大型包裹附加費：香港UPS为港币388元每件，大陆UPS为人民币378元每件（此收费标准为新增加内容）： </p>
                                                        <p style="padding-left: 18px"> 当包裹长度加周长[（2x宽）+（2x高）]之总和超过330厘米，但不超过UPS的最大的限制长度419厘米，UPS便会考虑把这一项包裹视为一项大型包裹。大包裹最低付款重量为40公斤。此更新目的主要是为满足托运大型包裹的客户。当UPS向客户收取大型包裹附加费时，并不会同时收取附加手续服务费。</p>
                                                        <p style="padding-left: 18px"> 特别说明：如果您的包裹超过了第三点的超过最大限制附加费和第四点大型包裹附加费的限制范围的其中任何一项，两种服务费会同时收取。即会收取两个388元（或378元）每件,或者您的包裹超过了第三点超重超长的限制又符合附加费手续费的货件，两种服务费也会同时收取，即会收取388元（或378元）和40元每件。</p>
                                                        <p style="width: 100%; overflow: hidden"> <span class="kuai"></span><span>着重强调：</span></p>
                                                        <p> 一． UPS拒收以下货物：</p>
                                                        <p style="padding-left: 18px"> 1）任何包裹的最長一邊 (長度) 超過270厘米；</p>
                                                        <p style="padding-left: 18px"> 2）任何包裹的三围之和（即：（宽+高）*2+长）超過419厘米；</p>
                                                        <p style="padding-left: 18px"> 3）任何包裹的重量超過70公斤。</p>
                                                        <p> 二．任何包裹的三围之和（即：（宽+高）*2+长）超過330厘米，不超过419厘米；为大型包裹加收HKD388*燃油且最低付款重量为40公斤；</p>
                                                        <p> 三． 所有重量，尺寸以UPS账单为准。</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lianxikefu">
                                            </div>
                                        </div>
                                        <div class="xuanka xuankaLast">
                                            <div class="right_one">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="qd">渠道名称：TNT 国际快递</span>
                                            </div>
                                            <div class="right_two">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="qdInfo">渠道介绍：</span>
                                                <p> TNT快递公司总部位于荷兰，服务遍及全球200个多国家和地区。尤其在欧洲国家具有很强的清关能力。空跃国际物流与深圳TNT一直保持着良好的合作关系。目前我司的国际快递服务使用的是TNT快递服务：有全球特快（15N）和经济服务（48N）两种。 </p>
                                            </div>
                                            <div class="right_three">
                                                <img src="../images/main_4.png" alt="main_4.png" />
                                                <span class="service">服务优势：</span>
                                                <div class="fangwei">
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>范围-服务覆盖200多个国家及地区。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>清关-在欧洲具有很强的清关能力。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>服务-中东地区服务较好。</span>
                                                    </div>
                                                    <div class="fangwei_left">
                                                        <span class="kuai"></span>
                                                        <span>便捷-南美的货物经欧洲/澳洲中转。</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lianxikefu">
                                            </div>
                                        </div>
                                        <!--end--> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_04.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">工程物流</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=29">工程物流</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"><p> 　　本公司的工程物流服务，包括客户需求分析、多式联运物流方案咨询设计、业务资源整合和优化、线路和现场勘察、关务咨询和服务、工厂提货、包装、集港、远洋运输、保险、装卸、工地安装等的“门到门”全过程交钥匙的综合物流服务。</p> <p> 　　本公司的项目物流服务，通过了解和分析客户的供应链整体需求，为客户定制供应链物流综合解决方案，包括库房选址、库房规划、运输路线、运营设计和执行，以及最终客户满意度调查在内的综合全过程物流设计和服务。</p> <p> 　　本公司工程物流和项目物流的服务对象，主要为国内和“走出去、引进来”的各行业大型骨干企业，包括工程建设、石油化工、电力水利、装备制造、冶金矿业、风电等的各个领域。本公司重视客户关注的每个重要节点及其服务需求的独特性，重视营运的技术和方案分析，量身订制，以提高执行和安全的效率，努力为客户降低成本。</p></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_05.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">仓储第三方物流</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=30">仓储第三方物流</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"><p> 　　本公司拥有及租用的仓储面积超过十五万平米，分布于内地和香港各服务网点，主要有海关监管、集装箱内装、配送中心和公共型仓库等四种类型。</p> <p> 　　本公司的仓储服务，按照业务类型和客户需求，为客户提供储存、理货、配载、包装、分拣、贴标唰唛、控温控湿、冷藏冷冻、贵种物品保安、配送等各种附加值服务，配合客户实施多元化市场推广策略。</p> <p> 　　本公司的仓库管理信息系统，对库存管理实施全面信息化管理。</p></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_06.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">合同物流</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=436">合同物流</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_06.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">国际同行合作</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=31">国际同行合作</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_07.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">进出境关务</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=32">进出境关务</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"><p> 　　我国以及世界各国对进出境货物的法律和管制规定烦琐而复杂，货物的通关和检验检疫程序及其速度是影响合规性、货物流转效率和多方权利的关键性环节。</p> <p> 　　本公司是海关和检验检疫部门最早批准的代理报关报检企业之一，在关务管理方面积累了丰富的实践经验，为客户提供产品归类、报关报检咨询审核、单证制作和管理、现场报关报检、运输安排、查验放行等的全方位高效率服务。</p> <p> 　　本公司拥有一批具备关务资质和实践经验丰富的员工，熟悉关务各项政策和法律法规规定，具有较强的业务操作能力和塌实稳重的工作作风。</p></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>

        </tbody>
    </table>
    <table class="serFooter" style="margin:0 auto;">
        <tbody>
        <tr>
            <%- include ../partials/footer.ejs %>
        </tr>
        </tbody>
    </table>
</table>




<script type="text/javascript" src="/javascripts/vue.js"></script>
<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/slideshow.js"></script>
<script type="text/javascript" src="/javascripts/switchTabs.js"></script>
<script>
    $(document).ready(function () {
        var currentTabIndex = getCurrentTabIndex();
        switchTabs(currentTabIndex);
    });
</script>
<script>
    var service = new Vue({
        el:"#service",
        data:{

        }

    });

</script>
</body>
</html>