<!DOCTYPE html>
<html>
<head>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/vMenu.css" rel="stylesheet" type="text/css" />
</head>
<body>

<table width="960px;" cellspacing="0" cellpadding="0" align="center" id="service" style="margin:0 auto;">
    <%- include ../partials/header.ejs %>
    <table class="switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">

        <tbody>

        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_01.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                                background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                            height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">国际空运</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=10">国际空运</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"><p> <strong>空运出口</strong></p> <p> 　　<img alt="" src="/images/prod_air01.jpg" style="height: 227px; width: 318px; float: right" />我公司空运业务主要以国际业务为主,与国内外多个航空公司已建立密切的合作关系。公司在上海、深圳、广州、香港、北京等地拥有长期固定的合作伙伴，可提供全套专业的国际空运物流服务，包括：提货、仓储、订舱、制单、报关、拼装、配载、送货等
公司的空运出口服务，为客户设计并优化跨境物流全过程方案，向各类客户提供工厂提货、仓储、理货、报关等出口服务以及货物抵达境外卸货港后的提货、清关、派送等DDU,DDP的全过程服务，以满足客户门到门一站式跨境综合物流的全部需求。
公司依托境内外网络齐全等综合优势，以安全、准确、迅速、低成本为宗旨，航线产品覆盖全球所有区域，层次丰富多样，且具强大的市场资源整合能力，为客户提供和保障价值服务，满足不同层次客户的各种需求。
公司拥有覆盖全球的精品航线和海外地面服务网络代理，货物订舱由经验丰富的航线人员在最短时间内设计出“安全、快捷、经济”的出运航线，对每个时段的货物状态提供高效即时的客户服务。</p></span> </td>
                                </tr>


                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"><p> <strong>空运进口</strong><br />

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp公司的空运进口服务，依托完善的海外网络，为世界各地进口至中国的货物提供从发货点运抵我国口岸并派送至收货人指定地点的业务总包或者分包，为客户提供Ex-work在内的全程国际航空运输服务，以安全、准确、迅速、低成本为宗旨，及时反映货物在进口运输中的各种问题，确保货物的安全对接。
对工厂交货的全程进口空运，本公司提供从发货地订单跟踪、上门提货、口岸操作等个性化服务；对有特殊需求的客户，本公司提供从海外提货、国际空运、本地操作、口岸清关、国内派送等一条龙的个性化定制的门到门服务。
公司依托资质齐全和经验丰富的报关、报检、运输及仓储专业人员，方便向客户提供快捷转关、运输和跟踪服务。
公司的进口口岸操作，实行24小时假日无休制，最大限度地满足广大客户的提货需求。</p></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_02.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 供应链贸易</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">国际海运</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=27">国际海运</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"><p><strong>海运出口</strong><br /> 我公司海运业务包括整柜（FCL)出口运输和散货拼柜（LCL)进出口运输。
公司与各大船公司有着良好的合作关系，在上海、深圳，广州，香港，青岛、天津等沿海港口城市，我们能为客户提供全方位的海运服务，包括：订舱、提货、代理报关、代理报检、装柜、制单、送货上门以及货物全程跟踪等。
　　公司的国际海运出口服务以服务综合、优质快速和低成本为优势，接受不同类型客户的需求委托，承担运输总包或者分包的全物流链条资源整合、方案设计和运营执行，为客户提供从境内发货处提取货物，组织国际运输并分拨派送至境外收货人指定交货点的“门到门”一站式跨境综合物流服务，在安全、优质、快速响应的基础上，提供承运货物在运输全过程中的各种服务。
　　公司的海运出口服务，涵盖国际海运的订舱、配载、报关报检、仓储、运输等，班轮覆盖率达到100%，航线多样覆盖全球，以满足不同层次客户对交货周期和成本的不同需求。
　　公司提供的海空联运及拼箱产品覆盖全球，为客户提供快捷、安全、优于空运成本等的多式联运服务。</p></span> </td>

                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"><p><strong>海运进口</strong><br /> 公司的海运进口服务，以安全、准确、迅速、持续优化成本为目标，向进口商或贸易商提供世界各地进口至中国“门到门”货物运输的总包或者分包，全面、准确、及时地反映货物在运输过程中的全程货物状态和清关信息。
　　本公司的海运进口服务，包括境外工厂或仓库提货、清关单证制作及管理、箱型调配与配载集运以及货物抵达中国港口后的整箱直提、保税仓储、拼箱拆箱、一关三检、仓储增值服务、转关派送等的“门到门”一站式跨境全过程综合物流服务。</p></span> </td>

                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_03.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国家快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">国际快递</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=28">国际快递</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                          <td style="line-height: 26px;"><strong>国际快递</strong><br />

                              <div class="pd2" style=" text-indent:30px;">公司主要提供DHL，FEDEX，UPS，TNT，EMS，国际专线等全球国际快递代理服务，同时还提供仓储，中港，报关报检等服务。我公司代理的快递服务可按客户货物的特殊性及时效要求，做出性价比最优的方案，供客户选择。</div>
                                  <div class="pd2" style=" text-indent:30px;"> DHL:寄送范围可达220个国家及地区、覆盖超过120,000个目的地（主要邮递区码地区）的网络，为企业及私人顾客提供专递及速递服务</div>
                                  <div class="pd2" style=" text-indent:30px;"> FedEx-联邦快递是全球最具规模的快递运输公司之一，为全球超过220个国家及地区提供快捷、可靠的快递服务。 中国联邦快递根据服务类型分为：中国联邦快递优先型服务（International Priority (IP)）和中国联邦快递经济型服务（International Economy (IE)）</div>
                                  <div class="pd2" style=" text-indent:30px;">UPS 全称，联合包裹服务公司，是一家全球性的公司，其商标是世界上最知名、最值得景仰的商标之一，也是世界上最大的快递承运商与包裹递送公司.我司提供红单和蓝单不同时效服务</div>
                                  <div class="pd2" style=" text-indent:30px;">TNT快递公司总部位于荷兰，服务遍及全球200个多国家和地区。尤其在欧洲国家具有很强的清关能力。我司提供15N全球和48N经济不同时效服务。</div>
                                  <div class="pd2" style=" text-indent:30px;">EMS全球邮政特快专递业务（EMS国际快递）是各国邮政开办的一项特殊邮政业务。EMS国际快递业务在各国邮政、海关、航空等部门均享有优先处理权。它以高速、高质量为用户传递国际紧急信函、文件资料、金融票据、商品货样等各类文件资料和物品，清关能力强。</div></td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_04.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">工程物流</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=29">工程物流</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"><p> 　　本公司的工程物流服务，包括客户需求分析、多式联运物流方案咨询设计、业务资源整合和优化、线路和现场勘察、关务咨询和服务、工厂提货、包装、集港、远洋运输、保险、装卸、工地安装等的“门到门”全过程交钥匙的综合物流服务。</p> <p> 　　本公司的项目物流服务，通过了解和分析客户的供应链整体需求，为客户定制供应链物流综合解决方案，包括库房选址、库房规划、运输路线、运营设计和执行，以及最终客户满意度调查在内的综合全过程物流设计和服务。</p> <p> 　　本公司工程物流和项目物流的服务对象，主要为国内和“走出去、引进来”的各行业大型骨干企业，包括工程建设、石油化工、电力水利、装备制造、冶金矿业、风电等的各个领域。本公司重视客户关注的每个重要节点及其服务需求的独特性，重视营运的技术和方案分析，量身订制，以提高执行和安全的效率，努力为客户降低成本。</p></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_05.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">仓储第三方物流</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=30">仓储第三方物流</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"><p> 　　本公司拥有及租用的仓储面积超过十五万平米，分布于内地和香港各服务网点，主要有海关监管、集装箱内装、配送中心和公共型仓库等四种类型。</p> <p> 　　本公司的仓储服务，按照业务类型和客户需求，为客户提供储存、理货、配载、包装、分拣、贴标唰唛、控温控湿、冷藏冷冻、贵种物品保安、配送等各种附加值服务，配合客户实施多元化市场推广策略。</p> <p> 　　本公司的仓库管理信息系统，对库存管理实施全面信息化管理。</p></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_06.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">合同物流</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=436">合同物流</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_06.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">国际同行合作</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=31">国际同行合作</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>
        </tbody>
    </table>
    <table class="hidden switchTables" width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
        <tbody>
        <tr>
            <td> <img id="imgAdv" src="/images/sub_t_22_07.jpg" style="height:170px;width:960px;border-width:0px;" /> </td>
        </tr>
        <tr>
            <td> &nbsp; </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="240" valign="top">
                            <table style="border: 1px solid #ccc;" cellspacing="1" cellpadding="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="background-image: url(/images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="background-image: url(/images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color: #003366; font-weight: bold; font-size: 14px;"> <span id="lblMenuTitle">服务产品</span> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="vmenu" class="vmenu">
                                                        <ul>
                                                            <li> <a href="/service?id=1"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际空运</a> </li>
                                                            <li> <a href="/service?id=2"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际海运</a> </li>
                                                            <li> <a href="/service?id=3"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle" /> 国际快递</a> </li>
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=4"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 工程物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=5"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 仓储第三方物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=6"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 合同物流</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=7"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 国际同行合作</a>-->
                                                            <!--                                                            </li>-->
                                                            <!--                                                            <li>-->
                                                            <!--                                                                <a href="/service?id=8"><img src="/images/ico_arrow1.gif" border="0" align="absmiddle"> 进出境关务</a>-->
                                                            <!--                                                            </li>-->
                                                        </ul>
                                                    </div> </td>
                                            </tr>
                                            <tr>
                                                <td height="45"> &nbsp; </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;"> <span id="lblArticleTitle">进出境关务</span> </td>
                                                <td style="color: #666666;" align="right"> <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=11">服务产品</a> &gt; <a href="comm.aspx?id=32">进出境关务</a></span> </td>
                                            </tr>
                                            </tbody>
                                        </table> </td>
                                </tr>
                                <tr>
                                    <td style="border-top: 1px solid #ccc;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td style="line-height: 24px;"> <span id="lblContent"><p> 　　我国以及世界各国对进出境货物的法律和管制规定烦琐而复杂，货物的通关和检验检疫程序及其速度是影响合规性、货物流转效率和多方权利的关键性环节。</p> <p> 　　本公司是海关和检验检疫部门最早批准的代理报关报检企业之一，在关务管理方面积累了丰富的实践经验，为客户提供产品归类、报关报检咨询审核、单证制作和管理、现场报关报检、运输安排、查验放行等的全方位高效率服务。</p> <p> 　　本公司拥有一批具备关务资质和实践经验丰富的员工，熟悉关务各项政策和法律法规规定，具有较强的业务操作能力和塌实稳重的工作作风。</p></span> </td>
                                </tr>
                                </tbody>
                            </table> </td>
                    </tr>
                    </tbody>
                </table> </td>
        </tr>

        </tbody>
    </table>
    <table class="serFooter" style="margin:0 auto;">
        <tbody>
        <tr>
            <%- include ../partials/footer.ejs %>
        </tr>
        </tbody>
    </table>
</table>




<script type="text/javascript" src="/javascripts/vue.js"></script>
<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/slideshow.js"></script>
<script type="text/javascript" src="/javascripts/switchTabs.js"></script>
<script>
    $(document).ready(function () {
        var currentTabIndex = getCurrentTabIndex();
        switchTabs(currentTabIndex);
    });
</script>
<script>
    var service = new Vue({
        el:"#service",
        data:{

        }

    });

</script>
</body>
</html>