<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/vMenu.css" rel="stylesheet" type="text/css" />
</head>
<body>

<table width="960px;" cellspacing="0" cellpadding="0" align="center">
    <%- include ../partials/header.ejs %>
<tr>
    <td>
        <img id="imgAdv" src="../images/sub_t_32.jpg" style="height:170px;width:960px;border-width:0px;">
    </td>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
</tr>

<tr>
    <td>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tbody><tr>
                <td valign="top" width="240">
                    <table cellpadding="0" cellspacing="1" style="border: 1px solid #ccc;" align="left">
                        <tbody><tr>
                            <td style="background-image: url(../images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody><tr>
                                        <td style="background-image: url(../images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                            <table><tbody><tr><td width="10">&nbsp;</td>
                                                    <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                        <span id="lblMenuTitle">社会责任</span>
                                                    </td></tr></tbody></table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="vmenu" class="vmenu"><ul></ul></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="45">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    </tbody></table>
                            </td>
                        </tr>
                        </tbody></table>
                </td>
                <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody><tr>
                                        <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                            <span id="lblArticleTitle">社会责任</span>
                                        </td>
                                        <td align="right" style="color: #666666;">
                                            <span id="lblPath"><a href="./">首页</a> &gt; <a href="comm.aspx?id=47">社会责任</a></span>
                                        </td>
                                    </tr>
                                    </tbody></table>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #ccc;">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="line-height: 24px;">
                                            <span id="lblContent"><p>
	&nbsp;&nbsp;&nbsp; 公司30年专注以国际货代为核心，至今已发展成为由国际空运、国际海运、供应链贸易、工程物流、仓储第三方物流、合同物流和海外同行合作各业务板块组成的跨境现代综合第三方物流企业，广泛服务于进出口制造和商贸企业，服务于我国外贸经济的迅速发展，同时也为振兴与发展我国的跨境物流产业努力地进行着长期的探索和实践，积极地作出自己的贡献。</p>
<p>
	&nbsp;&nbsp;&nbsp; 公司的核心价值观是：向客户提供价值创造服务，帮助客户在市场上更具竞争力和更好地发展；为员工创造职业规划的环境和条件，关注和帮助员工的共同成长；为股东创造更多的利益回报。这意味着，盈利并不是唯一的行为准绳，对客户、员工和股东的社会责任、诚信以及和谐关系，才是公司的核心价值观和永恒的追求目标。</p>
<p>
	&nbsp;&nbsp;&nbsp; 在我国跨境物流行业主要以外资为主、国内民营企业逐鹿各细分领域的市场背景下，公司有志于在网络齐全、服务综合、竞争优势、行业地位等方面发展成为与一流外资企业相同台竞技的中国领先企业，这需要港中旅空跃人的长期不懈努力。我国改革开放、政治稳定和经济繁荣的这个大时代，给了我们这样的机遇，也给了我们这样共同的责任。</p>
<p>
	&nbsp;&nbsp;&nbsp; 公司严格按照《公司法》、《证券法》相关法规和规范的要求，以公司《章程》为总纲，遵循股东大会议事规则、董事会议事规则、监事会议事规则、董事会各专门委员会议事规则和内部控制制度等，不断建立健全现代化公司治理结构，使得公司管理规范，决策科学，监督到位，定时定期发布报告及临时公告，及时向社会披露了公司的财务状况和内控制度建设和完善情况，全方位、多角度、立体化地向广大投资者展现了公司现状，做到了信息披露的公开、公正和透明，有力提高了公司治理的综合水平，最大程度地保障投资者、债权人的相关利益和合法权益，控制风险，保障公司经营和资产安全。</p>
<p>
	&nbsp;&nbsp;&nbsp; 全市场化和竞争充分，是公司各主营业务的基本特性。公司及其管理层和核心骨干员工经受过竞争环境激烈的长期锻炼，对人是企业发展最重要的创造力源泉有着自始不渝的深刻认识。公司始终坚持“以人为本”的理念，注重人才培养工作，通过制定人才发展规划和行之有效管理办法的复合系统，营造阳光透明、积极友好的工作氛围，提升员工的工作技能，为企业与员工的共同成长构建平台。“简单、阳光、协同、高效”是公司人才环境的基石，以思想和人的核心价值观引领管理和发展，增强活力和组织能力、组织绩效建设，培养一流专业人才，是公司持续变革创新和实现中国一流跨境现代综合第三方物流企业理想的不竭之源。</p>
<p>
	&nbsp;&nbsp;&nbsp; 作为央企控股的上市公司，公司不仅承担着合规经营、创造就业的使命和责任，更承担着国有资产保值增值的发展责任。将公司发展成国有控股在充分竞争市场领域和服务行业的一流企业，是港中旅空跃人多年来一直秉持的一种态度和坚定不移的一个志向。</p>
<p style="margin-left: 2.4pt">
	&nbsp;&nbsp;&nbsp; 企业和企业中的每个人，无时无刻不在分享着社会给予的关爱和帮助，离开了丰富的社会资源，企业和企业中的每一个人都不可能成就作为，因而回馈社会是我们应有的良知、应尽的义务和应存于心中的大爱，这不仅应表现在按章纳税这一基本方面，还应体现在业务和盈利模式与社会、自然环境、民生、法律不相融时，公司应有的和一贯的鲜明取舍立场。积极参与“结对帮扶活动”，则是公司多年来秉持的一项社会公益活动。</p>
<p style="margin-left: 2.4pt">
	&nbsp;&nbsp;&nbsp; 安全即效益、即持续能力、即品牌。公司始终以保障人的生命和财产安全作为一项重要任务，建立有一套安全营运管理体系，落实到人，常抓不懈，连续多年录得安全营运方面的优良记录。</p></span>
                            </td>
                        </tr>
                        </tbody></table>
                </td>
            </tr>
            </tbody></table>
    </td>
</tr>
    <%- include ../partials/footer.ejs %>
</table>

<script type="text/javascript" src="http://hq.sinajs.cn/list=sh603128" charset="gb2312"></script>
<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/slideshow.js"></script>
</body>
</html>