<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/vMenu.css" rel="stylesheet" type="text/css" />
</head>
<body>

<table width="960px;" cellspacing="0" cellpadding="0" align="center">
    <%- include ../partials/header.ejs %>
    <tr>
        <td>
            <img id="imgAdv" src="../images/sub_t_30.jpg" style="height:170px;width:960px;border-width:0px;">
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr>
                    <td valign="top" width="240">
                        <table cellpadding="0" cellspacing="1" style="border: 1px solid #ccc;" align="left">
                            <tbody><tr>
                                <td style="background-image: url(../images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                            <td style="background-image: url(../images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                <table><tbody><tr><td width="10">&nbsp;</td>
                                                        <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                            <span id="lblMenuTitle">人才战略</span>
                                                        </td></tr></tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="vmenu" class="vmenu"><ul>
                                                        <li><a href="/talents">人才战略</a>
                                                        </li><li><a href="/team">优秀团队</a>
                                                        </li><li><a href="/employeeGrow">员工成长</a>
                                                        </li><li><a href="/employeeNotes">员工手册</a>
                                                        </li><li><a href="/honestBusiness">廉洁从业</a>
                                                        </li><li><a href="/publicNotice">巡视公告</a>
                                                        </li></ul></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="45">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                    <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                <span id="lblArticleTitle">人才战略</span>
                                            </td>
                                            <td align="right" style="color: #666666;">
                                                <span id="lblPath"><a href="./">首页</a> &gt; <a href="/talents">人才战略</a> &gt; <a href="/talents">人才战略</a></span>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: 1px solid #ccc;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td style="line-height: 24px;">
                                            <span id="lblContent"><p>
	　　一个成功的企业，一定也是一批经营管理人才事业的成功。<br>
	　　本公司坚持以人为本的人才发展战略，包容并要求各级管理层以企业家的视野和追求，实施统一规划下的不同地区发展战略目标，以业绩文化激励人，以管理创新培育人，以做强做大引进人，以“开放、协同、分担、高效”锻炼人，以平台和机制鼓舞人，以“激情有为，管理创新，业绩突出，健康规范”要求人，长期来集聚和磨砺了一大批行业优秀管理人才，有效保障了“德为先，重效益”的队伍建设和企业战略目标实现，促进企业持续发展。<br>
	　　基于未来发展目标的需要，本公司将一如既往地秉持知人善用、唯才是举、尊才重贤的企业人才观，广泛吸纳社会各界优秀管理人才，保障和推动发展战略目标的实施，建设一支与世界一流物流企业相适应的高素质人才队伍。</p></span>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #ccc;">
            &nbsp;
        </td>
    </tr>
    <%- include ../partials/footer.ejs %>
</table>


<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/slideshow.js"></script>
</body>
</html>