<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/vMenu.css" rel="stylesheet" type="text/css" />
</head>
<body>

<table width="960px;" cellspacing="0" cellpadding="0" align="center">
    <%- include ../partials/header.ejs %>
    <tr>
        <td>
            <img id="imgAdv" src="../images/sub_t_30.jpg" style="height:170px;width:960px;border-width:0px;">
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr>
                    <td valign="top" width="240">
                        <table cellpadding="0" cellspacing="1" style="border: 1px solid #ccc;" align="left">
                            <tbody><tr>
                                <td style="background-image: url(../images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                            <td style="background-image: url(../images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                <table><tbody><tr><td width="10">&nbsp;</td>
                                                        <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                            <span id="lblMenuTitle">人才战略</span>
                                                        </td></tr></tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="vmenu" class="vmenu"><ul>
                                                        <li><a href="/talents">人才战略</a>
                                                        </li><li><a href="/team">优秀团队</a>
                                                        </li><li><a href="/employeeGrow">员工成长</a>
                                                        </li><li><a href="/employeeNotes">员工手册</a>
                                                        </li><li><a href="/honestBusiness">廉洁从业</a>
                                                        </li><li><a href="/publicNotice">巡视公告</a>
                                                        </li></ul></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="45">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                    <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                <span id="lblArticleTitle">优秀团队</span>
                                            </td>
                                            <td align="right" style="color: #666666;">
                                                <span id="lblPath"><a href="./">首页</a> &gt; <a href="/talents">人才战略</a> &gt; <a href="/team">优秀团队</a></span>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: 1px solid #ccc;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td style="line-height: 24px;">
                                            <span id="lblContent"><p>
	　　厦门公司成立于1994年，市场占有率和行业地位多年位居当地市场前茅。<br>
	　　厦门大同空运进口部是本公司优秀集体中的一个代表，2010年业务量同比增长300％，创收同比增长60%。他（她）们主动适应市场变化，寻求和开拓新的市场，以市场和服务为导向，不拘陈规，积极改进和优化服务方案，将客户满意度星级化，把协同和管理作为发展之本，凝聚力和专业能力较强，炼就了过硬的创新意识和能力。2010年度，被港中旅集团评为优秀集体。<br>
	　　厦门大同空运进口团队仅是本公司众多优秀队伍中的一个缩影。正是无数这样优秀团队和员工的锐意进取和辛勤努力，共同搭建了本公司充满激情、富有活力的业务发展平台，不断培养锻炼出优秀团队和个人，企业和个人发展相得益彰，和谐统一。</p></span>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>

    <tr>
        <td style="border-bottom: 1px solid #ccc;">
            &nbsp;
        </td>
    </tr>

    <%- include ../partials/footer.ejs %>
</table>


<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/slideshow.js"></script>
</body>
</html>