<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/stylesheets/MainStyle.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/hMenu.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/vMenu.css" rel="stylesheet" type="text/css" />
</head>
<body>

<table width="960px;" cellspacing="0" cellpadding="0" align="center" style="margin: 0 auto;">
    <%- include ../partials/header.ejs %>
    <tr>
        <td>
            <img id="imgAdv" src="../images/sub_t_30.jpg" style="height:170px;width:960px;border-width:0px;">
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr>
                    <td valign="top" width="240">
                        <table cellpadding="0" cellspacing="1" style="border: 1px solid #ccc;" align="left">
                            <tbody><tr>
                                <td style="background-image: url(../images/sub_m_bg02.png); background-repeat: repeat-x;
                                            background-position: center bottom; background-color: #eef2f4;">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                            <td style="background-image: url(../images/sub_m_bg01.png); background-repeat: repeat-x;
                                                        height: 35px; width: 200px;">
                                                <table><tbody><tr><td width="10">&nbsp;</td>
                                                        <td style="color: #003366; font-weight: bold; font-size: 14px;">
                                                            <span id="lblMenuTitle">增值服务</span>
                                                        </td></tr></tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="vmenu" class="vmenu">
                                                    <ul>
                                                        <li>
                                                            <a href="/value">增值服务</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="45">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                    <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td style="font-weight: bold; height: 35px; font-size: 14px; color: #666666;">
                                                <span id="lblArticleTitle">增值服务</span>
                                            </td>
                                            <td align="right" style="color: #666666;">
                                                <span id="lblPath"><a href="./">首页</a> &gt; <a href="/value">增值服务</a> &gt;</span>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: 1px solid #ccc;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td style="line-height: 24px;">
                                            <span id="lblContent"><p>
                                                    <div>
                                                            <p style="font-size:14px; font-weight:bolder;">公司提供仓储，中港，报关报检,CO产证等服务。</p>
                                                        　　<p style="font-size:14px;">CO 原产地证</p>



C.O.产地证（CERTIFICATE OF ORIGIN）又称一般产地证，是原产地证的一种。C.O.产地证是用以证明有关出口货物和制造地的一种证明文件，是货物在国际贸易行为中的“原籍”证书。具有以下几方面的作用：



1. 确定产品关税待遇，提高市场竞争力的重要工具；C.O.产地证则是各国海关据以征收关税和实施差别待遇的有效凭证。如在进口国与出口国的政府之间定有关税协定，用条约形式规定了协定税率（AGREED CUSTOMS RATE），或两国之间条约上规定了最惠国条款（MOST FAVORED NATION CLAUSE），买方往往要求卖方提供有效的产地证明书来证明进口货物的原产地确系缔约的对方国才能获得相应的税率待遇。

2. C.O.产地证还起到证明商品内在品质、提高商品竞争力的作用。如在国际市场上持有中国原产地证的丝绸比持有其他不产丝绸国家产地证的丝绸更能卖好价。此外，产地证有时还是贸易双方进行交接、结汇的必备单据。如买方在申请开信用证（L/C）时常要求提供C.O.产地证以确保其自身利益，银行也常以C.O.产地证作为信用证（L/C）是否解付的重要凭证。

3. 对进出口货物进行统计的职责，原产地证则是海关籍以对进口货物进行统计的重要依据。

4. 货物进口国实行有差别的数量控制，进行贸易管理的工具。世界各国根据其贸易政策，为保护本国工业生产和国际贸易竞争需要，往往对某些货物实行限制，制定一些进口货物数量控制措施，例如：进口配额、许可证制度、反倾销、反补贴制度。为实行这些控制制度，首先需确定进口的货物是来自哪个国家，然后确定这批货物是否受到进口数量限制，是否需持有进口许可证，是否要冲销配额及征收反倾销、反补贴税……产地证也就成为实施这些制度的重要工具。</div>

 <div class="valueContent">

<p style="font-size:14px;">FORM-A (中国-欧盟普惠证)</p>


普惠制，即普遍优惠制，简称ＧＳＰ，是一种关税制度，是发达国家（给惠国）对从发展中国家（受惠国）进口某些适合的产品时给予减免或免税的优惠待遇。我国是发展中国家，目前已有英国、法国、德国、意大利、荷兰、卢森堡、比利时、爱尔兰、丹麦、希腊、葡萄牙、西班牙、日本、挪威、新西兰、澳大利亚、瑞士、瑞典、芬兰、奥地利，加拿大和波兰等２２个国家对我国实行普惠制。     FORM A 产地证书是受惠国的原产品出口到给惠国时享受减、免关税优惠待遇的法律凭证。

FORM A产地证书不同于一般产地证书,一般产地证是享受最惠国待遇的有效证件，普惠制ＦＯＲＭ Ａ 产地证，则是享受普惠制减、免税待遇的有效证件。

 </div>

 <div class="valueContent">
<p style="font-size:14px;">FORM-E (中国-东盟普惠证)</p>



东盟成员国包括：文莱、柬埔寨、印度尼西亚、老挝、马来西亚、缅甸、菲律宾、新加坡、泰国、越南。

105 文莱 Brunei、107 柬埔寨 Cambodia、112 印尼 Indonesia、119 老挝 Laos,PDR、122 马来西亚 Malaysia、106 缅甸 Myanmar、129 菲律宾 Philippines、132 新加坡 Singapore、136 泰国 Thailand、141 越南 Vietnam，给予关税优惠的商品为HS编码中1-8章的农副产品，该项下的产品享受零关税待遇。


 </div>
                                                <div class="valueContent">
<p style="font-size:14px;">FORM F (中国-智利产地证)</p>



中智自贸协定项下的智利给惠,智利对原产于我国的5891种产品立即实行零关税，对1859种产品在10年内分阶段降为零关税，只有152种产品不在优惠之列。检验检疫机构于该协定实施之日起对协定项下我出口智利产品签发中国——智利自由贸易区原产地证明书（FORM F）。



检验检疫机构于该协定实施之日起对协定项下我出口智利产品签发中国——智利自由贸易区原产地证明书（FORM F）。

From the effective date of FTA, the inspection and quarantine institutions are responsible to sign and issue China-Chile FTA Certificate of Origin (FORM F) for products exported to Chile form China under FTA.

</div>

                                                <div class="valueContent">
<p style="font-size:14px;">亚太证</p>



签定《亚太贸易协定》的国家有：韩国、印度、斯里兰卡、孟加拉、老挝。 </div>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>

    <tr>
        <td style="border-bottom: 1px solid #ccc;">
            &nbsp;
        </td>
    </tr>

    <%- include ../partials/footer.ejs %>
</table>


<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/slideshow.js"></script>
</body>
</html>